[2011-05-05 07:18] mika76 opened #18 "Add output parameter functionality"
Loads of stored procs use output parameters especially when using SQL 2000 as there were no table return types before...

[2011-05-12 08:09] high1 opened #21 "Support for SQLite .NET and Firebird .NET"
Have you considered or tested support for SQLite and Firebird databases? I think that these are common among .NET developers, and have active developed and supported providers.

[2011-05-24 21:22] waydec opened #29 "Attributes to support validation"
I use code generation to create FluentValidation (http://fluentvalidation.codeplex.com/) validator classes.

I have made a few modifications to PetaPoco.cs and the T4 templates to support the code gen of these classes

If you agree i would love to see this included in the product.

_In PetaPoco.cs_

		// Property Attribute used to pass metadata to Validator class code generator
		// Marks property

[2011-06-01 20:54] litera opened #39 "Feature suggestion: multiple result set support"
It would be nice for PetaPoco to support multi result-set queries (at least in terms of stored procedures). This is the best way to avoid the **N+1** problem. Related properties (as One- or Multi- relations) could as well be automatically resolved either by using some sort of *relator* lambda expressions or POCO attributes. The latter being favoured so we don't have to repeat our code every time w

[2011-06-16 16:22] kayone opened #49 "Make Transaction an interface or a virtual class"
Currently, when you call GetTransaction() it returns a concrete instance of the Transaction class. which makes it almost impossible to mock. please either introduce an interface or at least make the Complete() method Virtual so it can be mocked.

[2011-07-04 16:17] kayone opened #56 "DBType detection fails if MvcMiniProfiler is used"
The logic in CommonConstruct uses the provider type to figure-out what DB engine is running on the back end. the problem is when the connection is of type ProfiledDbConnection it doesn't work. since the type doesn't meet any of the expected strings.

The workaround I have come up with is to manual set the initial value for _dbType to my actual DBType.

I don't know if there is an easy way to fix t

[2011-07-22 11:08] floppyman opened #62 "Selecting Nullable from MsSql"
Hello

I don't know if this is a bug of sorts, or it is just me who don't know how to do it.

My issue is as the title says selecting a nullable field from a MsSql database?

I have tried the following and i doesent work, which i my opinion would be the most elegant solution

[code]

This throws the following:

    Exception:
        Specified cast is not valid.

    Exception Details:
        Sys

[2011-07-22 14:55] dotnetchris opened #63 "Partial update methods seem missing"
I'm using PetaPoco Core 4.0.3

The Update method seems to only have the overloads of

[code]
This doesn't seem to match your blog post http://www.toptensoftware.com/Articles/116/PetaPoco-Partial-Record-Updates

that shows `db.Update<user>(u, new string[] { "last_login" });` should be a valid method.

[2011-07-22 15:38] dotnetchris opened #64 "Enhance Insert(object poco)"
I recommend enhancing this method

    public object Insert(object poco)
    {
	    var pd = PocoData.ForType(poco.GetType());
	    return Insert(pd.TableInfo.TableName, pd.TableInfo.PrimaryKey, pd.TableInfo.AutoIncrement, poco);
    }

to

    public object Insert(object poco, string tableName = null, string primaryKeyName = null, bool? autoIncrement = null)
    {
	    var pd = PocoData.ForType(p

[2011-07-22 15:40] dotnetchris opened #65 "Enhancement make PetaPoco classes partial"
I think that PetaPoco's classes would be best off marked  partial to allow for better extensibility without the need to modify the direct source of PP.

[2011-08-02 23:11] peterfelice opened #67 "Sql.Append bug?"
First off, thanks so much for the platform. It is such a great platform and have saved me so much time. I found a small issue with Sql.Append (or anything that calls it) with certain ordering of multiple WHERE clauses (or multiple ORDER BY clauses) where PetaPoco will try and convert multiple WHERE to WHERE/AND statements.

Basically for the following scenario:

        Sql sql1 = Sql.Builder

[2011-08-04 22:07] litera opened #68 "Feature suggestion: Intellisense code XML documentation"
Code is basically just documented via code comments and that's arguably not documentation and can't be considered as such. Some parts don't have any comments whatsoever (ie. `AutoJoinAttribute` - to me as a SQL Server developer this attribute doesn't mean anything per se so it definitely needs documentation).

I'm not sure why is that code isn't properly documented since it will require much more

[2011-08-19 03:02] RtypeStudios opened #69 "Postgres Escaped Order By Issue"
When adding an order by for a reserved column in postgres the paged query fails to remove the order by when creating the count statement.

Example:

Sql sql = new Sql();
sql.Append("ORDER BY \"default\" ASC");
Database.Page<Entity>(0, 12, sql);

This will generate the following count statement:

SELECT COUNT(*) FROM "Entity" ORDER BY "default" ASC

The issues lies in the reg ex used to strip the o

[2011-08-23 08:50] mstijak opened #71 "Single<T>(object primaryKey) Single<T>(string sql, params object[] args) clash"
For string primary keys, if cast to object is not explicitly made, wrong method is called.
Maybe method should be renamed to SingleById<T>(object primaryKey) or something similar.

[2011-08-30 02:20] glynford opened #72 "Object must implement IConvertible?"
I have stumbled upon this error message while doing .Query and Fetch. Can anyone help me point out what am I missing?

thanks.

EDIT: I just found out that the blob field was causing the problem. What equivalent variable type should I use in C#?

[2011-09-21 03:23] java1001 opened #78 "Help petapoco with Excute Sql"
I connect to SQL Server by code :

var db = new PetaPoco.Database("conenctstring");

It is success . But when I implement query  Execute , it not execute  sucess . This is my  code :

var db = new PetaPoco.Database("conenctstring");
db.OpenSharedConnection();
int query = db.Execute("SELECT * FROM level");
db.CloseSharedConnection();

Result of query : -1

Would you help me with error ? Thank you!

[2011-10-01 09:47] paganaye opened #80 "Null String"
When you have a database with a non null string column, it doesn't really map to the poco strings very well.
A new class will not insert in the database until you manually set all the non-nullable string to empty string.
The issue is that there are no non-nullable string in C#.

I believe PetaPoco could be forgiving on this still; If the string has its default value (null) then the column should h

[2011-10-01 09:51] paganaye opened #81 "IsNew fails on GUIDs"
Is new return false when the primary columns is of type GUID
I am not really sure why Guid don't overload the operator == but it appears they don't.
Object.Equals seems to work though.

		public bool IsNew(string primaryKeyName, object poco)
		{
		...
				// Create a default instance and compare
				// return pk == Activator.CreateInstance(pk.GetType());
				// Changed by PG
				return Activator.C

[2011-10-01 22:22] StephenPAdams opened #82 "Page in MS-SQL and Aggregate throws exception"
Hey!

Love PetaPoco, but receiving this exception:
Exception Details: System.Data.SqlClient.SqlException: Invalid column name 'TotalVotesByDate'.

When using a SELECT COUNT(id) aggregate with an ORDER BY of that aggregate name. For example:

DataContext.Page<ShowcaseSummary>(1, maxShowcases,
                                                         @"SELECT ssv.*, (SELECT COUNT(sv.ShowcaseVoteId)

[2011-10-04 02:42] java1001 opened #83 "Use class Linq to Petapoco"
My project use Linq + SQl  but I want use class in LinQ for Petapoco .

I have trouble when update . This my code :

                    db.Insert("Posts", "ID", Post);

Error :
No mapping exists from object type System.Data.Linq.EntitySet`1[[Data.PostFavo, Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]] to a known managed provider native type.

Can you help me about this error ? Tha

[2011-10-17 15:10] bfcamara opened #85 "Page<T, T2> support"
I am trying to do this

            var asset = db.Page<Asset>(1, 10, PetaPoco.Sql.Builder
                .Select()
                .From("Asset")
                .InnerJoin("AssetType").On("AssetTypeId = AssetType.Id"));

When I run the query I get

The column 'Id' was specified multiple times for 'peta_paged'.

It seems there is no support for

            var asset = db.Page<Asset, assetType>(

[2011-11-12 18:25] gimmi opened #87 "Provide a DLL version of the NuGet package"
I know that all MicroORMs out ther are included as source file into the needed project, but many people (like me) prefer to include external libraries using the classic way of referencing DLLs.

Would be nice if you provide this option via a dedicated NuGet package, maybe only the PetaPoco.Core version.

What do you think?

[2011-12-03 02:19] lukebakken opened #89 "SCOPE_IDENTITY fails"
Hello,

Currently when using UNIQUEIDENTIFIER pks on SQL Server using SCOPE_IDENTITY () fails to retrieve the new ID value. Changing to use "OUTPUT" would fix this. Pull request on its way.

[2011-12-05 14:58] brianchance opened #90 "T4+MSSQL+datetime2"
The MSSQL T4 template does not identify  the new datetime2 as the DateTime datatype. Adding it to the case at line 596 works (SqlServerSchemaReader.GetPropertyType method).

[2011-12-06 16:33] kinimatt opened #91 "T4 generates wrong primary key"
It happens when clustered index is other than primary key. Clustered index column is identified as Primary key instead of actual column. DB used sql server.

[2012-01-14 11:24] junkqwe opened #97 "Exception when passing sqlParameter"
when passing sqlParameter i get
The SqlParameter is already contained by another SqlParameterCollection
i solved it by changing AddParam function
i cnaged this
	if (idbParam != null)
	{
		idbParam.ParameterName = string.Format("{0}{1}", ParameterPrefix, cmd.Parameters.Count);
		cmd.Parameters.Add(idbParam);
		return;
	}

into this:
	if (idbParam != null)
	{
		System.Data.SqlClient.SqlParameter par

[2012-02-19 10:53] genez opened #99 "Helper method "Count<T>()" easily added"
I think it would be easy to implement a Count<T>() method and it would be helpful - here is my code, tested and working

        public int Count<T>(string sql, params object[] args)
        {
            if (EnableAutoSelect)
                sql = AddSelectClause<T>(sql);

            // Split the SQL into the bits we need
            string sqlSelectRemoved, sqlOrderBy, sqlCount;
            if

[2012-02-23 16:36] ianlee74 opened #100 "T4 Will Not Run if Project is Not Selected"
In VS2010, if I try to run the T4 template and the project that contains the T4 template is not selected/highlighted then the template will throw an exception and will not run.  To get around this, I have added the following line as a reminder but I suspect there is a more elegant solution that could be used based on discovering the name of the current project rather than looking for "active" proj

[2012-02-29 03:13] samritchie opened #101 "T4 Schema Name"
Specifying a SchemaName does not include it in the TableName attribute. Changing the line in PetaPoco.Generator.ttinclude to:

	[TableName("<#=tbl.Schema + "." + tbl.Name#>")]

seems to work

[2012-03-13 00:12] mwrock opened #102 "Make MetaPoco.cs a Nuget Source Code Transformation"
First, great project! I just added this to my project replacing EF4 code first and I now have .Net 3.5 compatibility with little effort.

Currently, if I consume via Nuget, PetaPoco.cs is added to my project in a "Model" folder and under the PetaPoco namespace. This namespace could potentially conflict with other projects in the same app that also use PetaPoco. I think that renaming Patapoco.cs to

[2012-03-15 18:03] joeriks opened #103 "There is already an open DataReader associated with this Command"
Does anyone else get this? I get it when there's quite a lot of traffic on a site which is (only) using PetaPoco as Orm. I tried adding MARS in the connection string, but that does not feel as the right way of solving possibly not closed connections / readers. No multiple threads. And only about 20 users on the site at the same time. Heavy db usage by the site functions though.

[2012-03-20 12:59] eakova opened #105 "support for mongodb ?"

[2012-03-20 17:48] guillaume86 opened #106 "Sql class cache problem (Build once)"
In the Sql class, the final sql command and parameters are stored once by the Build() method when trying to access SQL or Parameters and never rebuild after.

So if we access one of them method (firing Build()) and then make an Append(), the request is not correct anymore.

[2012-03-30 20:05] vl1969 opened #109 "Is it Possible to use Stored Proc result without defined POCO?"
Hi, All good people on this site.

a little help would be greatly appreciated :-)

SETUP:
1. VS 2010 development solution (ALL C# projects) 3 tier solutions (App/Model/BLL/DLL)
    a. database is SQL 2010
2. currently using Custom DAL and in process of testing PetaPoco for replacement.
3. includes report module (rdls reports) created/displayed from C# report viewer
   a. all reports are generic an

[2012-03-30 20:20] pruiz opened #110 "Allow overriding EscapeTableName/EscapeSqlIdentifier"
Changing EscapeTableName/EscapeSqlIdentifier methods to be overrideable, or adding Escaping methods to IMapper would be a great help when working with mixed case identifier on some databases like postgres.

Greets
Pablo

[2012-04-30 11:53] nyxiscoo1 opened #115 "No deafult constructor error reporting"
PetaPoco looks for type's default constructor, but when there is no appropreate one it passes null to il.Emit and last one throws ArgumentNullException with obscure message that parameter 'con' should not be null.

It would be great if PetaPoco will ceck type's default constructor for null and throw  exception with more helpful message.
You need to change GetFactory:
[code]
to
[code]

[2012-05-25 15:20] TheAjItator opened #118 "Conditional Compilation Bug - v4.x"
The preprocessor directive for dynamic support in 4.x, and earlier, isn't working correctly.

The code has:
[code]
But this isn't processed as you would think.

A fix would be to use:
[code]

You can see the issue if you debug into the file without setting PETAPOCO_NO_DYNAMIC and see it is acting as if it was set.

[2012-05-29 23:06] fdcastel opened #119 "v5: Db.Update() fails with anonymous type"
This used to work in v4

    Db.Update("MyTable", "MyPk", new { Col1 = valC1, Col2 = valC2 }, valPK);

But in v5 it is failing here (@Repository.cs)

[code]

At this point pd.Columns doesn't have a "MyPk" entry.

**Workaround**

    Db.Update("MyTable", "MyPk", new { MyPK = 0, Col1 = valC1, Col2 = valC2 }, valPK);

or

    Db.Update("MyTable", "MyPk", new { MyPK = valPK, Col1 = valC1, Col2 = valC2

[2012-06-15 19:56] grcodemonkey opened #122 "Database should expose a CreateParameter method"
The database class should expose a CreateParameter method that uses the underlying DbProviderFactory.CreateParameter() method to create parameters for scenarios like Output parameters.

This would provide better support for being provider agnostic when using Input/Output parameters.

[code]

[2012-06-18 14:23] yaegerbomb opened #123 "Sql.Append not appending"
I have the following code:

                sql.Append("UPDATE [Resource] SET ")
                    .Append("[ResourceName] = @0", resource.ResourceName)
                    .Append(",[ResourceDescription] = @0", resource.ResourceDescription)
                    .Append(",[ResourceContent] = @0", resource.ResourceContent);

                if (resource.ResourceData != null)
                {

[2012-06-28 18:15] JCKodel opened #126 "Conversion from Enum to numeric sql parameter fails"
In Database.cs, method AddParam(cmd, value, pi), there is an implicit cast to int from an Enum:

if (t.IsEnum)		// PostgreSQL .NET driver wont cast enum to int
{
	p.Value = (int)value;
}

This fails when the Enum is based on other integral type but int: (i.e. public enum Foo : byte), with a tinyint column on database.

To correct this, change the above to:

	p.Value = Convert.ChangeType(value, ((E

[2012-07-23 02:08] amurad opened #131 "Sql.Builder unnecessarily duplicates parameters"
Sql.Builder unnecessarily duplicates parameters as in:

<pre>Sql.Builder.Where("Title LIKE '%' + @0 + '%' OR Authors LIKE '%' + @0 + '%'", searchExpression);</pre>

Will output:

<pre>WHERE (Title LIKE '%' + @0 + '%' OR Authors LIKE '%' + @1 + '%') </pre>

thus sending searchExpression twice to the server, once for @0 and then for @1.
Unnecessary and inefficient for large text parameters.

[2012-09-18 13:28] eAndy opened #133 "V5: Oracle Number Field cannot be mapped to Nullable<long> (long?)"
Column in db is Number Null but want to map it into a Long? but get an exception.

using V5 the Database.TT fails on generation

Error	7	Test 'ManagementService.Tests.ActivityTests.GetAlls' failed: System.InvalidCastException : Invalid cast from 'System.Decimal' to 'System.Nullable`1[[System.Int64, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]'.
at System.Convert.De

[2012-09-18 15:05] jpshannon opened #134 "ProviderName is null when using connectionString, DBProviderFactory constructor"
When trying to construct a Database instance with custom DBProviderFactory, ProviderName wil be null causing the DatabaseType.Resolve to throw a null reference exception under some circumstances.

[2012-09-24 07:39] rickelprior opened #136 "Creating PetaPoco.Database with SqlConnection"
I tried to use PetaPoco this way :

            using (var connection = new SqlConnection(MyConnectionString))
            {
                connection.Open();
                IEnumerable<Person> personList = (new PetaPoco.Database(connection)).Fetch<Person>(MySqlSelect);
                return persons;
            }

And I get a System.NullReferenceException in PetaPoco.Resolve method (because Pr

[2012-10-15 01:06] noorani786 opened #138 "Why not add a Column() method to PocoData to avoid hard-coding column names?"
Why not add a method to PocoData that takes a property selector expression and uses that to figure out the column name so that we don't have to hard-code the column name?  For instance I want to able to do this:

[code]

The implementation of the PetaPoco.PocoData.Column() method is actually quite simple:

[code]

We can then probably extend this even further and thus reduce the sql expression to:

[2012-10-26 11:59] johanlbotha opened #139 "Problem Resolving database type when passing in SqlConnection."
I am getting an object null error when passing in the Connection object. The line causing the problem appears to be:
    // Resolve the DB Type
    string DBTypeName = (_factory == null ? _sharedConnection.GetType() : _factory.GetType()).Name;
I changed it to:
    // Resolve the DB Type
    string DBTypeName = (_factory == null ? _sharedConnection.GetType() : _factory.GetType()).FullName;

The rea

[2012-10-29 07:57] sdhjl2000 opened #140 "generate all tables in db when use with mysql"
when use t4 template with mysql,it will generate all the table in database,correct  TABLE_SQL  should be:
			SELECT *
			FROM information_schema.tables
			WHERE (table_type='BASE TABLE' OR table_type='VIEW') and  TABLE_SCHEMA=database();

[2012-11-13 04:22] BobbyCannon opened #142 "Parameters with bracket formatting would fail on Paged queries"
I could not get the Page<T> to work with my query and I found out the regex was failing to detect the ‘[‘ and ’]’ in my query. The following query would not work.

var query = "SELECT * FROM [Users] ORDER BY [CreatedOn]"

After some debugging I found the [ and ] around the CreatedOn was breaking the regular expression. I update my query to the following and it worked.

var query = "SELECT * FROM [

[2012-11-23 05:43] biju-ps opened #143 "Returning WRONG POCO / Empty .cs"
Hi,
I am using petapoco with MySQL 5.1
I have 3 Databases in this application . The Poco for   two database is generating without anyproblem.
For a database its Creating wrong POCO . Its at times generating a HUGE poco incliding other tables in the other Database too . Some times its not generating POCO at all .

Any idea

[2012-11-29 00:13] Finzzownt opened #144 "Table with two columns in PK fails T4 scripts"
A table with (only) two columns, both part of a primary key fail generation of classes via T4 because Column.PK generates an exception, since two columns are IsPK. Emerged when generating against MySQL 5.
    public Column PK
    {
        get
        {
            return this.Columns.SingleOrDefault(x=>x.IsPK);
        }
    }

[2012-12-13 12:16] sitereactor opened #147 "Issue inserting a poco with nullable datetime prorperties using sql ce"
I just ran into an issue where inserting a Poco with Database.Insert(poco); throws a DateTime Overflow Exception because PetaPoco doesn't seem to account for nullable DateTime properties.
The Poco looks something like this:

[code]

And the issue occurs when ReleaseDate doesn't have a value.
As far as I can tell the "AddParam(IDbCommand cmd, object item, string ParameterPrefix)" method just sets t

[2012-12-17 23:16] yetanotherchris opened #148 "SqlConnection constructor issue"
There's a small bug on line 204, when you pass in a SqlConnection:

     string dbtype = (_factory == null ? _sharedConnection.GetType() : _factory.GetType()).Name

should read

    string dbtype = (_factory == null ? _sharedConnection.GetType() : _factory.GetType()).FullName;

The switch statement following it fails with just the Name property.

(Sorry I'm too lazy to clone + provide a patch)

[2012-12-26 18:00] OnesimusUnbound opened #150 "Documentation: Add explicit link to IMapper as alternative to attribute in POCO"
I was reading the [documention](http://www.toptensoftware.com/petapoco/), under `Hey! Wait a minute... they're not POCO objects!` there's no mention of IMapper. Hopefully, the documentation can be updated with link to [PetaPoco - Custom mapping with the Mapper interface](http://www.toptensoftware.com/Articles/92/PetaPoco-Custom-mapping-with-the-Mapper-interface).

Thanks :)

[2013-02-13 21:12] stevewhite opened #152 "Using OleDbConnection"
How can I use an OleDbConnection with PetaPoco?

I am running into some issues with the parameter collection.
When I try ("WHERE Id=@0",id),  I get the following:
  OleDbException: Must declare the scalar variable "@0"

Thanks,

[2013-02-18 14:36] kpconnell opened #153 "Allow Nullable types for SQL Server"
I understand a custom mapper could be used but out of the box support for nullable CLR types, e.g. Double? Int? etc would be great.  They currently cause a casting exception.

[2013-03-11 00:07] kohenkatz opened #155 "`pwd` command does not exist on Windows"
The PostBuild.bat file which, in v5, creates the single-file version of PetaPoco, calls `pwd` on its second line.

`pwd` is a linux command to get the current path, not a Windows command.  The equivalent Windows command is `echo %cd%`.

[2013-04-17 21:58] maxfridbe opened #157 "class PocoData should allow dictionary types"
The ForObject method needs to allow all dictionary types to allow subclassing since this is what the code below is expecting:

[code]
That way you can insert simpler
[code]

And it works with more types.

[2013-04-23 07:33] mankind80 opened #158 "Does petapoco support Oracle's stored procedure?"
Hi, I would like to know does petapoco can execute a stored procedure on Oracle DB?

 Below is the sample sp written on Oracle DB

CREATE OR REPLACE PROCEDURE USER.GET_DATA(p_recordset OUT SYS_REFCURSOR)
IS
BEGIN

  OPEN p_recordset FOR SELECT DATA FROM TABLE;

END;

Do anybody have any experience how to write .Net code on how to execute sp by using petapoco.

Sample code written but failed to wor

[2013-10-08 01:11] qqqzhch opened #168 "same structure, but not the same as the name of the table"
I have a lot of the same structure, but not the same as the name of the table, for example, abc_1, abc_2,....abc_2000, so how to use the orm

[2013-10-22 05:53] hunguyen75 opened #169 "Hi"
I really enjoy using your ORM tool in building my applications. I am just curious if it can be extented to be used with Microsoft Access?

[2013-11-24 14:19] qqqzhch opened #173 "I was in the stand I use mysql database, but each time generating model, always inside the database, including all tables in the database system tables are generated"
I was in the stand I use mysql database, but each time generating model, always inside the database, including all tables in the database system tables are generated

SELECT *
			FROM information_schema.tables
			WHERE (table_type='BASE TABLE' OR table_type='VIEW' )
				AND table_schema NOT IN ('pg_catalog', 'information_schema') AND table_schema='learn3'

I know where sql statement is changed, bu

[2014-02-18 00:30] JobaDiniz opened #180 "Is this project dead?"
So far, I loved PetaPoco, but is this library dead?
I'd like to see this library make an assembly instead of the class and break thing apart, folowing a more good design. More people could contribute to this project, which is a great tiny ORM project.
I don't want an EntityFramework, but some things could be improved to make queries even easier.
It's been 1 year since the last nuget release.

So,

[2014-03-20 17:57] TryingToImprove opened #181 "SQL Server 2012 fails to convert SqlGeography"
I created a simple project and could not use SqlGeography, it would not parse and throwing a Object must implant IConvertable

A simple fix is to add this code around line 3745:

                        return delegate(object src)
                        {
                            if (dstType == typeof(SqlGeography))
                            {
                                return SqlGeogra

[2014-07-08 13:48] AlekseyMartynov opened #182 "No support for Mono.Data.Sqlite"
In `public static DatabaseType Resolve(string TypeName, string ProviderName)` there is the code `if (TypeName.StartsWith("SQLite")) `

Case-sensitive comparison makes PetaPoco not compatible with **Mono.Data.Sqlite**, which type names have "Sqlite" spelling.

(I am using NuGet package 5.0.1)

[2014-07-16 12:42] jibhatt opened #183 "How to get latest PetaPOCO.cs for latest version 5.0.1?"
Hi,

I understand there is a latest version 5.0.1 availble. I am not able to find the PetaPOCO.cs file with version 5.0.1 (I could only locate 4.0.3 here https://github.com/toptensoftware/PetaPoco/blob/master/PetaPoco/PetaPoco.cs)

Please let me know from where to download PetaPOCO.cs 5.0.1

[2014-10-08 19:55] bladeoflight16 opened #186 "CommandTimeout units are unclear"
The documentation on the class doesn't indicate the units of CommandTimeout. Is it seconds? milliseconds? Please include in the summary text.

[2014-11-03 10:58] slahn opened #187 "Oracle nullable columns"
Hi,
your check for nullable oracle columns fails on oracle 10g 10.2.
In [PetaPoco.Core.ttinclude:1217](https://github.com/toptensoftware/PetaPoco/blob/master/PetaPoco/Models/Generated/PetaPoco.Core.ttinclude#L1217), you test `USER_TAB_COLS.nullable` against the string `"YES"`, but oracle 10.2 returns `"Y"`/`"N"`, not `"YES"`/`"NO"`.

Oh, and also, thanks for an awesomely useful project :)

[2014-11-10 20:35] Myster opened #190 "Paging Performance issue."
Adding paging to very large SQL queries causes signficant perf issues, my numbers were:

Method                                                 | Time
------------------------------------------------ | ------------------------
GetNewArticles NoPaging                    |  00:00:00.0000240
GetNewArticles with PetaPocoPaging  |  00:00:00.0935263

note: that the no paging actually returns all records

[2014-12-07 06:56] tomagnew opened #191 "v5: Db.Update() fails with anonymous type"
This is a follow up to an older post which was never answered: https://github.com/toptensoftware/PetaPoco/issues/119

On the main TopTen Software documentation page for PetaPoco (http://www.toptensoftware.com/petapoco/), it states that one way to update partial fields in a poco is:
"Or you can pass an anonymous type to update a subset of fields. In this case only the article's title field will be

[2015-01-31 23:21] #181 closed

[2015-02-16 07:30] #49 closed

[2015-02-16 07:31] #56 closed

[2015-04-26 12:38] QuAzI opened #195 "Is bulk insert or batching supported"
Can I insert multiple rows as one query?

	public class article
	{
		public long article_id { get; set; }
		public string title { get; set; }
		public DateTime date_created { get; set; }
		public bool draft { get; set; }
		public string content { get; set; }
	}

	var array = new article[100];
	/* filling array */
	db.Insert(array);

Which must be equivalent to the next query

	INSERT INTO article

[2015-04-26 12:39] QuAzI opened #196 "Using Sql.Builder with fields list or with dictionary of the predetermined values [Enhancement]"
I want to fill only initialized fields in a convenient form.
May I write something like it

	var fields = new Dictionary<string, string>()
		{
			{ "name", "tequila" },
			{ "price", "42" },
			{ "photo", "tequila.jpg" }
		};
	var sql=PetaPoco.Sql.Builder()
				.Insert(fields)
				.To('drinks')

To build query which is equivalent to the next query

	INSERT INTO
		`drinks`
	SET
	   `name` = 'tequil

[2015-05-07 09:16] fastlink30 opened #197 "enum Byte exception"
i have problem with enumeration, if i try to get data from class like this:

....
        public DateTime? ALLADATA { get; set; } // datetime (0)
        public string CODIPIVA { get; set; } // nvarchar (11)
        public enuAlbergoXme HOTELXME { get; set; } // tinyint (0)
    }

and enuAlbergoXme is like this

[code]

is all ok, but if i declare enum as byte, i can't get data

Eccezione first-ch

[2015-06-10 14:37] fmccown opened #198 "Operand type clash: nvarchar is incompatible with image"
When Petapoco is sent a byte array that is set to null, SQL Server will throw an exception (Operand type clash: nvarchar is incompatible with image) because the type of the SQL parameter cannot be derived from the null value provided. See http://stackoverflow.com/questions/2420708/operand-type-clash-nvarchar-is-incompatible-with-image for more information.

This can be fixed by adding the if state

[2015-07-09 07:34] petsuter opened #199 "Documentation confusing on transactions and threads"
Under [Transactions](http://www.toptensoftware.com/petapoco/#transactions) the documentation states:

This is quite confusing, as apparently what is meant is "...all operations OF ONE TRANSACTION need to use the same instance...". (But not operations of different transactions!)

In fact operations (of different transactions) must use a different instance if they are on a different thread. (It foll

[2015-09-23 16:44] phryneas opened #200 "PetaPoco casts all my Arguments to integer"
I have code like this:

    FW fw = db.Single<FW>(
        PetaPoco.Sql.Builder
            .Select("*")
            .From(FW.TABLE)
            .Where("AX = @0", "E6F5CCA"));

and my Database ConncetionString looks like

    <add name="DB"
       connectionString="Driver={PostgreSQL ANSI};Server=192.168.33.2;Port=5432;Database=db;Uid=user;Pwd=pw;"
       providerName="System.Data.Odbc"
    />

No

[2015-10-06 16:48] Curlack opened #201 "OUTPUT inserted.[primaryKeyName] with enabled Triggers"
I'm running an insert statement using PetaPoco v5.0.1 (available via NuGet) and got the following error: <b>The target table of the DML statement cannot have any enabled triggers if the statement contains an OUTPUT clause without INTO clause.</b>
I did the following to get around it:

<ul><li>Modify PetaPoco.Database.Insert method where the command text is set: </br>
<i></br>string commandText = s

[2015-10-13 16:36] herebebeasties commented on #153
I'm behind a firewall that won't let me submit a proper pull request, but you need to change it like so:

    - converter = delegate(object src) { return Convert.ChangeType(src, dstType, null); };
    + var underlyingType = Nullable.GetUnderlyingType(dstType) ?? dstType;
    + converter = src => Convert.ChangeType(src, underlyingType, null);

This is currently failing for things like coercing a `f

[2015-12-03 22:56] #187 closed

[2015-12-03 23:50] pleb commented on #169
Access should support ODBC - I think. If it does, The feature would be adding support for ODBC connections. If you'd like ODBC support, please open another issue as a feature request. For more information please read https://guides.github.com/activities/contributing-to-open-source/

[2015-12-03 23:50] #169 closed

[2015-12-04 00:08] pleb commented on #199
A wiki is planned

[2015-12-04 00:08] #199 closed

[2015-12-04 00:17] pleb commented on #183
https://www.nuget.org/packages/PetaPoco.Core/

[2015-12-04 00:17] #183 closed

[2015-12-04 00:18] pleb commented on #182
I think we'll aim for CoreClr ASP 5 (Vnext) support to address cross-plat

[2015-12-04 00:18] #182 closed

[2015-12-04 00:19] pleb commented on #180
# PetaPoco is very much alive!!!

It'll be a few weeks before the ball is really rolling. I'll be adding more information over the next few days

[2015-12-04 00:21] #173 closed

[2015-12-04 00:21] #168 closed

[2015-12-04 02:32] pleb commented on #139
Dup of #136

[2015-12-04 02:32] #139 closed

[2015-12-04 02:33] pleb commented on #134
Could be related to #136

[2015-12-04 02:35] pleb commented on #131
@Edddy is correct. You can't do this `'%' + @0 + '%' ` with parameters

[2015-12-04 02:35] #131 closed

[2015-12-04 02:48] pleb commented on #119
We'll track this with #191.

Thanks for reporting it.

[2015-12-04 02:48] #119 closed

[2015-12-04 02:52] pleb commented on #105
Closing this issue - as per @Edddy

[2015-12-04 02:52] #105 closed

[2015-12-04 02:53] pleb commented on #103
@Edddy thanks for answering this

[2015-12-04 02:53] #103 closed

[2015-12-04 02:56] #18 closed

[2015-12-04 02:58] pleb commented on #99
Thanks for the suggestion. If you'd like to see this is PetaPoco, please send a PR. Read more about contributing here https://guides.github.com/activities/contributing-to-open-source/

[2015-12-04 02:58] #99 closed

[2015-12-04 02:58] #97 closed

[2015-12-04 02:59] pleb commented on #90
Thanks for reporting this. It's been addressed by another issue.

[2015-12-04 02:59] #90 closed

[2015-12-04 03:01] pleb commented on #87
Bump!

[2015-12-04 03:01] #85 closed

[2015-12-04 03:02] pleb commented on #83
Thanks for the report. I'm closing this because it's very old. If it's still an issue, please feel free to open another issue

[2015-12-04 03:02] #83 closed

[2015-12-04 03:03] pleb commented on #82
Closing this as it's very old. If this is still an issue, please feel free open another issue for it.

[2015-12-04 03:03] #82 closed

[2015-12-04 03:05] pleb commented on #78
Closing issue - as per @schotime

[2015-12-04 03:05] #78 closed

[2015-12-04 03:05] pleb commented on #72
Closing issue. Very old and is an unanswered question

[2015-12-04 03:05] #72 closed

[2015-12-04 03:07] pleb commented on #68
Agree. Bump!

[2015-12-04 03:08] pleb commented on #65
Why not inheritance?

[2015-12-04 04:20] pleb commented on #29
My vote would be for System.ComponentModel.DataAnnotations. However, I know there's other popular ones out there. I guess what's needed is better extension hooks for adding {insert validation provider} support

[2015-12-04 04:45] pleb opened #202 "PetaPoco has new maintainers. Here's what's on our to-do list"
<https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Roadmap>

[2015-12-04 08:08] poke commented on #202
Hey pleb, wow, who would have thought that PetaPoco would ever become alive again—that’s some great news!

Unfortunately, I have been out of the loop far too long, so I probably won’t be able to help out. But what you have planned there sounds really great, so I just want to say thank you for picking it up and I wish all the best for PetaPoco :)

[2015-12-04 08:33] pleb commented on #202
@poke super excite to reboot PetaPoco too. I'll be putting a call soon for new members to join the PetaTeam, as we're looking for people to triage new issues, maintain documentation, conduct code reviews, and etc. Keep an eye out, because you never know there maybe something that interests you :smiley:

[2015-12-04 11:54] pleb opened #204 "Call for new members"
PetaPoco is moving forward again. We're currently looking for people to join the Collaborating Platypus / PetaPoco team. So far the teams I think we need are Maintainers, Code reviewers, Documentation, and Triage. Did I miss anything here?

**Maintainers**
As a maintainer you will be responsible for writing code, accepting code reviewed PRs, and getting ready the next release. Additionally, you wo

[2015-12-04 11:55] pleb commented on #202
Ok positions are up #204

[2015-12-05 05:59] pleb commented on #87
Hey everyone. This has been actioned. https://www.nuget.org/packages/PetaPoco.Core.Compiled/

[2015-12-05 05:59] #87 closed

[2015-12-05 06:00] pleb commented on #155
I nuked the file. The new commands don't have `pwd`.

[2015-12-05 06:00] #155 closed

[2015-12-05 06:01] pleb commented on #180
Just published update nuget packages. Proof that this project is alive. Looking for help #204

[2015-12-05 06:01] #180 closed

[2015-12-05 06:04] pleb commented on #102
There's not a compiled version, which should ease the pain. The main problem I see is that everyone will want the file deploy versions in a different folder. Can anybody think of the way to make this configurable?

[2015-12-05 06:45] pleb opened #209 "Move ColumnAttribute.ForceToUtc to a DateTime related attribute class"
ColumnAttribute.ForceToUtc seems to be the wrong place for such a flag.

I am thinking that PP could do with DateTime attribute class which handles all DT related options. I also think, that because DTs without a TZ are a PITA, that it should force any DT to be either UTC, Local, or null (meaning don't care I'll accept the bugs).

This is a breaking change

[2015-12-05 07:01] dlwiii commented on #180
Thanks pleb!

[2015-12-05 09:22] pleb commented on #100
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:22] #100 closed

[2015-12-05 09:23] pleb opened #210 "Support firebird DB"

[2015-12-05 09:24] pleb commented on #21
#210 Firebird DB

I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:24] #21 closed

[2015-12-05 09:26] pleb commented on #64
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:26] #64 closed

[2015-12-05 09:26] pleb commented on #65
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:26] #65 closed

[2015-12-05 09:27] pleb commented on #68
I'm going to ensure better xml docs are added

[2015-12-05 09:27] #68 closed

[2015-12-05 09:31] #101 closed

[2015-12-05 09:32] #91 closed

[2015-12-05 09:35] pleb commented on #150
I hoping to rewrite the documentation. We're looking for people to help #204

[2015-12-05 09:35] #150 closed

[2015-12-05 09:36] pleb commented on #89
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:36] #89 closed

[2015-12-05 09:37] pleb commented on #147
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:37] pleb commented on #143
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:37] #143 closed

[2015-12-05 09:38] pleb commented on #109
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:38] #109 closed

[2015-12-05 09:43] pleb commented on #126
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:43] pleb commented on #144
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:43] #144 closed

[2015-12-05 09:45] pleb commented on #134
I added checks for IsNullEmpty

I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:45] #134 closed

[2015-12-05 09:45] pleb commented on #136
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:45] #136 closed

[2015-12-05 09:46] pleb commented on #195
I'm sorry that your issue has been left for so long. In an effort to reboot PetaPoco your issue has been closed. If you think this is still a problem. Please feel free to open and another issue. Please pass the word on that PetaPoco is back. We're looking for people #204.

[2015-12-05 09:46] #195 closed

[2015-12-05 14:13] njy commented on #202
@pleb :+1:
I'm glad to hear this. Regarding the < 4.5 thing: everybody I know is on 4.5 or greater, so there's that as a stat for you.
What about NPoco https://github.com/schotime/NPoco , the fork from @schotime ? It has a lot of fixes and new features, and I was wondering if you were planning to start from there.
Basically forking back the fork, something like the nodejs -> iojs -> nodejs thing :

[2015-12-06 01:32] pleb commented on #202
@nij I've emailed both @schotime and @tmenier asking if they want to join the effort. I wouldn't feel comfortable taking their work without permission. Ideally, I would like them to come over to PetaPoco and join the maintainers team (I would probably make a new team for them, as I see them as fulling a n Admin/Lead roll). However, they both have popular forks I can understand if they do not want

[2015-12-08 07:18] pleb opened #212 "Pick a logo"
Contenders:

Logo 1 | Logo 2
----------| --------
|![Logo1](https://raw.githubusercontent.com/CollaboratingPlatypus/PetaPoco/development/Media/Logo1/PetaPocoLogo1CropSmall.png)|![Logo1](https://raw.githubusercontent.com/CollaboratingPlatypus/PetaPoco/development/Media/Logo2/PetaPocoLogo2Small.png)|

[2015-12-08 07:22] pleb commented on #212
Logo 2 + 1

[2015-12-08 11:58] eldiosyeldiablo commented on #212
Logo 2

Sent from my iPad

[2015-12-08 14:55] dlwiii commented on #212
I like the kookaburra

[2015-12-09 00:18] jezza323 commented on #212
Logo 2, with the distinctive brown band around the eyes added for correctness pls

[2015-12-09 19:26] twheelmaker opened #214 "Suggestion"
I'm truly excited that this project is picking up steam again.  To the new maintainers, please keep it simple! I love that it came with no dependencies and a single c# file I can step through and understand what's happening. Additional features should be modular via nuget. Please don't turn this lean and mean tool into a monolithic, feature-laden beast.

[2015-12-09 20:21] dlwiii commented on #214
Agreed!

[2015-12-09 22:28] davispauljohn commented on #212
Yep, Logo2

[2015-12-12 08:30] pleb commented on #214
@twheelmaker and @dlwiii. That's the plan! PetaPoco is beloved by many because one can pick it up and run with it quickly. There's no plans to add {insert come complex feature(s) here}.

IMO - There's [NPoco](https://github.com/schotime/NPoco) if you need PetaPoco with a little more flair or [MircoLite ORM](https://github.com/TrevorPilley/MicroLite) if you want similar ORM with a more structure co

[2015-12-12 08:33] pleb commented on #200
Doesn't seem like PP is at fault here. If it's still happening, please PR an integration to show the issue

[2015-12-12 08:33] #200 closed

[2015-12-12 12:40] pleb commented on #212
Looks like Logo2 is the winner!

[2015-12-12 12:40] #212 closed

[2015-12-12 21:14] #29 closed

[2015-12-12 21:15] pleb commented on #152
I think you would need ("Where Id=?0", id)

[2015-12-12 21:15] #152 closed

[2015-12-12 21:16] pleb commented on #157
Happy to review and providing the review is ok accept a PR for this feature

[2015-12-12 21:16] #157 closed

[2015-12-12 21:40] pleb commented on #148
Can't reproduce.

Please issue a PR with failing integration test to show bug.

[2015-12-12 21:40] #148 closed

[2015-12-12 21:43] pleb commented on #71
This is where a quick extension method could be utilised. Changing the API because to fit a use case where a string ID is used probably isn't a great reason.

[2015-12-12 21:43] #71 closed

[2015-12-12 22:21] pleb commented on #191
The `article_id=anything` could be trouble if the anything is not the correct type.

[2015-12-12 22:49] pleb commented on #191
Fixed. Will be in version > 5.1.62

[2015-12-12 22:49] #191 closed

[2015-12-12 22:53] pleb commented on #140
Fixed. Will be in version > 5.1.62

[2015-12-12 22:53] #140 closed

[2015-12-12 22:56] pleb commented on #158
I would be happy to review, and if the review passes, accept a PR for this

[2015-12-12 22:56] #158 closed

[2015-12-12 23:11] pleb commented on #123
Can't reproduce.

[code]

[2015-12-12 23:11] #123 closed

[2015-12-12 23:13] pleb commented on #118
Closing this as there's no more preprocessor directives being used.

[2015-12-12 23:13] #118 closed

[2015-12-13 01:51] pleb commented on #81
Based on the code, this has already been addressed. However, I've added unit tests and expanded the feature.

[2015-12-13 01:51] #81 closed

[2015-12-13 06:28] pleb commented on #63
I know this was from some time ago, but I'm closing as V5 is the version which is being maintained.

[2015-12-13 06:28] #63 closed

[2015-12-13 06:32] pleb commented on #67
The bug is `sql2.SQL` is not called in `Sql finalSql = Sql1.Append(sql2);`. I've added a ToString() overload to resolve this in the future

[2015-12-13 06:32] #67 closed

[2015-12-13 06:37] pleb commented on #80
Hi there. Sorry it's been so long in getting back to you about this issue. Where you say

_If the string has its default value (null) then the column should have its default value (empty string)_

I don't agree. If the default value is null, then null it is. Now because there's no difference with setting a nullable/not nullable string column to String.Empty, you could enforce this yourself.

As I

[2015-12-13 06:37] #80 closed

[2015-12-13 06:38] pleb commented on #102
There's complied version of PP now. Given the aforementioned, and that fact it would be hard to allow the selection of different locations when saving the PP single file, I'm going to close this issue.

[2015-12-13 06:38] #102 closed

[2015-12-13 07:04] pleb commented on #110
Hi @pruiz, sorry it's been so long. This has been addressed and will be in the next release

[2015-12-13 07:04] #110 closed

[2015-12-13 08:24] pleb commented on #115
thanks @nyxiscoo1 for the suggestion and sample code. This will be in the next release of PP. Version > 5.1.62

[2015-12-13 08:24] #115 closed

[2015-12-13 08:29] #186 closed

[2015-12-13 08:39] pleb commented on #138
There's the `nameof` in c# 6 now. If you target the higher tools version, you can use it in any project from >= .net 4. Given this, I'm going to close this issue

[2015-12-13 08:39] #138 closed

[2015-12-13 08:40] pleb commented on #133
I hope somebody with Oracle can contribute a PR for this :smiley:

[2015-12-15 03:02] john-susco opened #219 "Issues with Visual Studio 2013"
I am able to install the Nuget package for 5.0.1, and the templates properly generate models etc.

Attempting to install simply using Install-Package PetaPoco (which installs 5.1.84) results in:

Compiling transformation: The name 'isnullable' does not exist in the current context	{path}PetaPoco.Core.ttinclude	1214

With the new direction of PetaPoco, is compatibility with Visual Studio 2013 curre

[2015-12-15 09:28] pleb commented on #202
Hey everyone, the roadmap has been posted. <https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Roadmap>

[2015-12-15 09:37] pleb commented on #219
Hi @john-susco, there shouldn't be a problem with using VS 2013. Sounds like a bug.

Could you try changing line 1233 on PetaPoco.Core.ttinclude to

`col.IsNullable = "YES".Equals(rdr["isnullable"].ToString()) || "Y".Equals(rdr["isnullable"].ToString());`

[2015-12-15 10:04] pleb opened #220 "Documentation QC"
Hey @ch00nz

Can you please review the following doc pages

**Repo pages**
[Read me - dev version](https://github.com/CollaboratingPlatypus/PetaPoco/blob/development/README.markdown)
[Contributing - dev vesrion]
(https://github.com/CollaboratingPlatypus/PetaPoco/blob/development/contributing.md)

**Wiki pages**
[Home](https://github.com/CollaboratingPlatypus/PetaPoco/wiki)
[Roadmap](https://github

[2015-12-15 10:56] pleb commented on #219
Hi @john-susco I've fixed this bug. Sorry about that. I'm going to add to the roadmap integration testing for the T4 templates. The fix will be in version > 5.1.84 (about twenty minutes after this post)

[2015-12-15 10:56] #219 closed

[2015-12-15 17:27] joshka commented on #220
Hey,
Just a quick one, the link to the Quick Start page from the Home page is missing a hyphen.

[2015-12-15 21:04] pleb commented on #220
Thanks @joshka. Fixed it ;)

[2015-12-15 23:31] ch00nz commented on #220
on the Read me page
- under the "Contributing" section, "From" is spelt wrong in 'PetaPoco welcomes input form the community.'
on the Contributing page
- "PetaPoco has a coding standards and guidelines." should be "PetaPoco has coding standards and guidelines."
- if you are running with "All bug fixes should include a unit test(s). " then you shoudl be consistent in "All features must include unit

[2015-12-16 00:11] pleb commented on #220
Cheers @ch00nz. Fixes all listed items

[2015-12-16 00:11] #220 closed

[2015-12-16 00:11] #202 closed

[2015-12-16 10:31] pleb opened #222 "Documentation review"
@ch00nz @davispauljohn

Review please of the [Ways-to-instantiate-PetaPoco](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Ways-to-instantiate-PetaPoco)

[2015-12-17 15:48] havotto opened #223 "Faster PostgreSQL Exists query suggestion"
Hi,

This is my first post here. Great project!

I would like to suggest a faster Postgres exists query.

Now this is used by PetaPoco: SELECT COUNT(\*) FROM {0} WHERE {1}
Postgres is not too efficient with count(\*), it has to scan all the matching records.
Here are some other queries that are faster because they stop, when a matching record is found:

This one converts bool to int with CASE:
SEL

[2015-12-17 16:38] havotto commented on #133
I don't think this is a bug. [Here](https://docs.oracle.com/cd/B19306_01/olap.102/b14346/dml_datatypes002.htm#CJACDECG) are the Oracle numeric data types, and NUMBER is fractional. That's why the data provider returns Decimal. LONGINTEGER is like long.
Maybe a custom mapper overriding GetFromDbConverter() could help?

[2015-12-17 21:46] pleb commented on #133
agree with @havotto (thanks) that this is not a bug. Please see Sqlite integration [SqliteMapper] (https://github.com/CollaboratingPlatypus/PetaPoco/blob/master/PetaPoco.Tests.Integration/Databases/Sqlite/SqliteDBTestProvider.cs) for an example of to implement a custom mapper

[2015-12-17 21:46] #133 closed

[2015-12-17 21:47] pleb commented on #223
Thanks @havotto for the contribute

[2015-12-17 21:48] pleb commented on #222
thanks @ch00nz and @davispauljohn

[2015-12-17 21:48] #222 closed

[2015-12-29 00:34] #214 closed

[2015-12-29 00:34] #204 closed

[2015-12-29 00:38] pleb opened #225 "Fluent configuration - Doc review"
Doc review request - [Fluent configuration](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Fluent-Configuration)

Minor changes to previously review [ways to instantiate PetaPoco](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Ways-to-instantiate-PetaPoco/_compare/ed953f12aed9e50ea48c1381a7fe31b03409858f...9d469d04b36cde447f909b3f247260a9d3394fec)

Community input welcome!

[2015-12-29 00:59] pleb opened #227 "Joing the team - Doc review"
Doc review request - [Joing the team](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Joining-The-Team)

@CollaboratingPlatypus/petapoco-documentation

Community input welcome!

[2015-12-29 03:41] pleb opened #228 "Building and Development - Doc review"
Doc review request - [Building and development](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Building-and-Development)

@CollaboratingPlatypus/petapoco-documentation

Community input welcome!

[2015-12-29 04:53] pleb opened #229 "Integration Testing Guidelines - Doc review"
Doc review request - [Integration testing guidelines](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Integration-Testing-Guidelines)

@CollaboratingPlatypus/petapoco-documentation

Community input welcome!

[2015-12-29 05:08] pleb opened #230 "Unit Testing Guidelines - Doc review"
Doc review request - [Unit testing guidelines](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Unit-Testing-Guidelines)

@CollaboratingPlatypus/petapoco-documentation

Community input welcome!

[2015-12-30 02:55] pleb opened #231 "T4 Template Poco Builder - Doc review"
Doc review request - [T4 Template Poco Builder](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/T4-Template-Poco-Builder)

@CollaboratingPlatypus/petapoco-documentation

Community input welcome!

[2015-12-30 03:27] pleb opened #232 "Mapping Entities - Doc review"
Doc review request - [Mapping Pocos](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Mapping-Pocos)

@CollaboratingPlatypus/petapoco-documentation

Community input welcome!

[2016-01-06 06:38] davispauljohn commented on #232
If models/pocos/entities are interchangeable, maybe just use "pocos" for consistency

[2016-01-08 10:57] MamadouSy opened #234 "PetaPoco.cs (Core) doesn't compile (Circular base class dependency)"
Hi,

First of all, I'd really like your API and have to says: Thanks you a lot!

I've just install the PetaPoco.Core version version 5.1.107-beta via nuget, I can't compile the code.
I've got the following error:

Circular base class dependency involving 'PetaPoco.DatabaseConfiguration' and 'PetaPoco.DatabaseConfiguration.IBuildConfigurationSettings'	PROJECT_PATH\Models\PetaPoco.cs
Line 2455	, Col

[2016-01-08 11:55] pleb commented on #234
Hi @MamadouSy, thanks for the report. I couldn't reproduce the error. I've upload the test project to https://github.com/pleb/PetaPocoBug1 and have made you a collaborator. Any chance you could try break it for me? Delete what's there and add your own solution/project if you like.

[2016-01-08 14:15] MamadouSy commented on #234
Hi Wade,

Thanks for you reply.

I have push the code on the repository you mention
https://github.com/pleb/PetaPocoBug1 <https://github.com/pleb/PetaPocoBug1>

I’ve added a readme which describe step by step what I’m doing.
There are also Screenshots (probably not useful)

I’m using Visual Studio 2013 Ultimate I don’t know if that make a difference or not.

I think that the problem is probably co

[2016-01-10 08:37] pleb commented on #234
OK, so I can replicate the issue when building via the command line and specifying tools version 4.0. If I set the VS project to use tools version 4.0, VS 2015 doesn't fail - sigh. I believe this is because Roslyn is is still compiling the code and doesn't honour the v4.0 build bug.

The next best thing to add it as a build step to the CI build script (https://github.com/CollaboratingPlatypus/Peta

[2016-01-10 08:38] pleb commented on #234
@MamadouSy if you could confirm that it's fixed in 5.1.109-beta, I'll merge and release it

[2016-01-10 21:09] pleb commented on #232
Good point @davispauljohn

[2016-01-11 10:29] MamadouSy commented on #234
Hi Wade,

Yes that’s works for me. Many thanks.

[2016-01-12 00:17] pleb commented on #234
Awesome news mate!

[2016-01-12 00:17] #234 closed

[2016-01-17 23:23] jovball opened #236 "Nuget package install fails from console"
It works from the GUI but not from the console. Anybody else having this issue?

PM> Install-Package PetaPoco
Install-Package : Unable to find package 'PetaPoco'.

[2016-01-17 23:38] pleb commented on #236
Hmmm. I'll flag this to be investigated

[2016-01-19 23:19] pleb opened #237 "Inconsistent LINQ style Exists API"
Other APIs start with a `WHERE`, for example

    DB.Single<Person>(new Sql($"WHERE {DB.Provider.EscapeSqlIdentifier("Age")} = @0", 18))

but the Exists does not

    DB.Exists<Person>($"{DB.Provider.EscapeSqlIdentifier("Age")} = @0", 18)

[2016-01-19 23:29] pleb opened #238 "LINQ Style API Exists doesn't work for PostgreSQL"
All other supported DBs pass the integration tests accept PostgreSQL. This is because table name is pre-escaped by the default provider and other providers.

The pre-escaping is wrong because a provider may have their own escape characters, and therefor the API should call the provider to escape the table name.

[2016-01-20 22:21] #237 closed

[2016-01-20 22:22] #238 closed

[2016-01-20 22:55] pleb opened #240 "Transaction Isolation level"
In PetaPoco is currently is not possible to change the transaction isolation level. This is a very common requirement and should be supported

[2016-01-21 12:07] BrendanLally opened #242 "Exists calls broken for autogenerated POCOs in schemas on SQL server."
This commit:
https://github.com/CollaboratingPlatypus/PetaPoco/commit/1523975ff25f4dbbb67a28db1c05386f008e81c7

breaks 'Exists' calls against POCOs which are generated with schemas.

So if I have the schema 'foo', which contains a table 'bars' and use the T4 template against the schema it, the auto-generated poco bar gets [TableName("foo.bars")] annotated to it.

When trying to do a db.Exists<Bar>

[2016-01-21 22:55] pleb commented on #242
Thanks for the report. I'll investigate this asap

[2016-01-21 23:28] pleb commented on #242
Hi @BrendanLally, I've added integration tests for this, but I couldn't reproduce. Can you check out the tests and let me know how they differ?

https://github.com/CollaboratingPlatypus/PetaPoco/commit/45de1c91b02b56443057703354d3d00a1cb21364

[2016-01-22 00:22] pleb commented on #236
Hi @jovball,

I've tried this in VS 2015 and couldn't reproduce.

    Install-Package PetaPoco
    Attempting to gather dependencies information for package 'PetaPoco.5.1.121' with respect to project 'ConsoleApplication2', targeting '.NETFramework,Version=v4.5.2'
    Attempting to resolve dependencies for package 'PetaPoco.5.1.121' with DependencyBehavior 'Lowest'
    Resolving actions to install

[2016-01-22 00:23] #240 closed

[2016-01-22 11:52] BrendanLally commented on #242
You can close this issue as obsolete.

My behaviour was present in nuget version 5.1.114 (which is the one I had upgraded to), Running your integration tests against the sqlprovider as was released in that version does fail as expected, but this commit: https://github.com/CollaboratingPlatypus/PetaPoco/commit/baa3bf78df57b5b2d5e637e7a1192ceceaba0e46 resolved the problem, and the master branch and

[2016-01-22 11:54] #242 closed

[2016-01-23 08:21] pleb commented on #242
Good to hear. Keep reporting, as I want PP stable and trusted!

[2016-01-24 06:09] #232 closed

[2016-01-24 06:10] #227 closed

[2016-01-24 06:10] #228 closed

[2016-01-24 06:10] #229 closed

[2016-01-24 06:10] #230 closed

[2016-01-24 06:10] #225 closed

[2016-01-24 06:10] #231 closed

[2016-01-26 22:23] JonathanHalper opened #243 "System.Security.VerificationException thrown while querying into a dynamic"
I have been using PetaPoco for a few years now, and recently noticed that the project was being updated again (thanks, btw!).  I updated to Nuget PetaPoco core version 5.1.121, and after running regression tests found that some queries were breaking with a System.Security.VerificationException thrown from within PetaPoco.  I tried both the compiled and standalone file variants of PetaPoco Core wit

[2016-01-27 00:16] pleb commented on #243
@JonathanHalper it's on my list for this week ;)

[2016-01-28 03:41] #243 closed

[2016-01-28 03:43] pleb commented on #243
@JonathanHalper you'll want PetaPoco 5.1.126 or later ;)

[2016-01-28 14:21] JonathanHalper commented on #243
Thanks, that fixed it!

[2016-01-28 14:34] MamadouSy opened #245 "Many Warnings in the build output with PetaPoco.cs (Core)"
Hi,

I've a little request.
I'm using PetaPoco Core install from Nugets in Visual Studio 2013 (so the single file Models/PetaPoco.cs).

I'm generating the `XML Documentation file` with my project (Project Properties > Build > Output > XML Documentation file)

Once it's activated, I have a bunch of Warnings in the build output.
Below some of them (repeated several times):

    Models\PetaPoco.cs(25

[2016-01-29 01:34] pleb opened #246 "Add MS Access support"

[2016-01-29 02:59] pleb commented on #245
@MamadouSy not a problem. I'll add this in next release

[2016-01-29 11:44] MamadouSy commented on #245
Cool thanks a lot.

[2016-01-30 10:23] pleb commented on #223
@havotto it'll be in the next release. Thanks again!

[2016-01-30 12:11] pleb commented on #198
@fmccown thanks for the contribute.

I've added integration tests to confirm the bug and fixed the issue with basically the code you supplied. Cheers

[2016-01-30 12:16] #62 closed

[2016-01-30 12:26] #246 closed

[2016-01-30 12:26] #69 closed

[2016-01-30 12:26] #142 closed

[2016-01-30 12:26] #190 closed

[2016-01-30 12:27] pleb commented on #245
It's in the latest release

[2016-01-30 12:27] #245 closed

[2016-01-30 12:27] pleb commented on #223
Released

[2016-01-30 12:27] #223 closed

[2016-01-30 12:27] pleb commented on #198
Released

[2016-01-30 12:27] #198 closed

[2016-01-31 12:09] pleb commented on #210
Added support. Is in beta

[2016-01-31 15:29] WolfDan opened #248 "Generate Tables From Poco Classes"
Is possible generate all the tables with the poco classes in the Solution?

Classes -> Table NOT Table -> Classes (I can made this with T4 Template)

[2016-01-31 23:24] pleb commented on #248
No, there is no reverse (schema) generation in PetaPoco. It would be a fair amount of work to implement because each SQL server has their own version of SQL. Sigh.

[2016-01-31 23:24] #248 closed

[2016-02-01 17:34] MamadouSy commented on #245
Thanks a lot.
Works like a charm!

[2016-02-04 10:21] pleb opened #250 "Add support for queries with custom sql, starting with the WITH, SET or DECLARE keyword"

[2016-02-04 10:22] pleb opened #251 "Add a null reference guard to the propertyinfo in the AddParam method"

[2016-02-05 11:26] pleb commented on #236
@jovball did you manage to reproduce this error? If you can't I might go ahead and close the issue

[2016-02-08 12:55] thefraj commented on #147
Hi,

I would like to open this issue - PetaPoco would never have worked with nullable date time objects at all for this reason.

If your database has a nullable datetime field the developer doesn't have any options left (since .NET will default to 01/01/0001 as null date time, where SQL Server will expect a Minimum (by default) of 1/1/1753 12:00:00 AM)

Essetnailly Poco will then only throw SqlDat

[2016-02-09 00:01] #236 closed

[2016-02-09 00:01] #251 closed

[2016-02-09 00:02] #250 closed

[2016-02-09 00:02] #210 closed

[2016-02-09 11:41] pleb commented on #147
@thefraj - I added an integration test to confirm a nullable datetime could be inserted across all support DBs and found no issue. Could you please look at 88066fb and advise?

[2016-02-19 09:56] kuangyunsheng opened #255 "Page query is very slow when use a long sql statement"
When call db.Page<T> method with a long sql statement (e.g. contains more than 400 charactors), it is very slow.

I find it caused by the regular expression "RegexOrderBy".

In BuildPageQuery function, it try to use this regular expression to process the sql statement:
"parts.SqlSelectRemoved = helper.RegexOrderBy.Replace(parts.SqlSelectRemoved, "", 1);"

But I don't konw how to optimize it.

[2016-02-20 18:36] WolfDan opened #256 "Value too big or too small for Int16"
I'm have this problem a lot time ago, I try to solve but don't find solution, I'm triying to get data from a table called "characters" the poco is:

`[TableName("characters")]
    [PrimaryKey("Id")]
    public class CharacterDatabase : IAutoGeneratedRecord
    {
        private Thypon _thypon;
        private string _look;
        [Column]
        public int Id { get; set; }
        [Column]

[2016-02-20 19:10] #256 closed

[2016-02-22 02:18] kuangyunsheng commented on #255
I write code to test the regular expression:

`Regex RegexOrderBy =
            new Regex(
                @"\bORDER\s+BY\s+(?!.*?(?:\)|\s+)AS\s)(?:\((?>\((?<depth>)|\)(?<-depth>)|.?)*(?(depth)(?!))\)|[\[\]`""\w\(\)\.])+(?:\s+(?:ASC|DESC))?(?:\s*,\s*(?:\((?>\((?<depth>)|\)(?<-depth>)|.?)*(?(depth)(?!))\)|[\[\]`""\w\(\)\.])+(?:\s+(?:ASC|DESC))?)*",
    RegexOptions.RightToLeft | RegexOptions.Ignore

[2016-02-22 02:51] kuangyunsheng commented on #255
So, following is my suggestion:

change the function BuildPageQuery of  SqlServerDatabaseProvider

`
Regex SimpleRegexOrderBy =
            new Regex(
                @"\bORDER\s+BY\s+",
                RegexOptions.RightToLeft | RegexOptions.IgnoreCase | RegexOptions.Multiline | RegexOptions.Singleline | RegexOptions.Compiled);
public override string BuildPageQuery(long skip, long take, SQLParts

[2016-02-22 07:00] pleb commented on #255
Thanks @kuangyunsheng I'll have a look at this soon

[2016-02-25 03:51] wafe opened #257 "When join and multi mapping, split problem because column name lower/upper case mixed, and howto fix."
I have two table like below. (poco class)

[code]

query like below
[code]

MySQL output like below
[code]

but the result was  `result[0].Idxno == 1167` and `result[0].Content.Idxno == 0`

And I fixed problem by editing `MultiPocoFactory.FindSplitPoint()`
[code]

[2016-03-01 21:55] pleb commented on #257
@wafe thanks for this. I'll address this in the next release

[2016-03-01 23:48] diegodfsd opened #258 "Log4Net integration"
I'm using PetaPoco a few months and now I'm missing integration with log4net for example.

[2016-03-02 06:33] enrico-padovani opened #259 "Composite keys support"
Hi,

It is possible to specify a composite key for a table? If not, is there a plan to support this scenario?

Thanks,
Enrico

[2016-03-02 06:46] enrico-padovani opened #260 "External mapping configuration"
Hi,

Is there a way to configure entity mappings in an external metadata class? I recently had a look at Npoco and they've implemented a very elegant solution.

I believe this will be a really nice feature that frees entities from the specific library mapping implementation and extends the configuration options. By the way I really like the work done in the new fluent database configuration.

Chee

[2016-03-02 11:21] hobnob opened #261 "Internal Properties aren't mapped"
Hi,

I'm creating a library that uses certain database fields but doesn't expose them to outside assemblies. To achieve this I'm using the `internal` keyword on certain properties. This used to work fine until I upgraded PetaPoco.Core to 5.1.140 (from 5.0.1) via Nuget, but now my internal properties aren't being set from the database.

For example, given the following object a `Fetch` or `Query` w

[2016-03-02 23:47] pleb commented on #258
@diegodfsd currently you would need to extended PetaPoco and override any of the `OnExecutedCommand, OnExecutingCommand, OnException, OnConnectionOpened and OnConnectionClosing` methods to implement logging. Obviously, this is not a great solution so I've added to the roadmap to make logging easier

[2016-03-02 23:49] pleb commented on #259
@enrico-padovani currently no. Yes, support will be added. Updated the roadmap to include this

[2016-03-03 06:24] enrico-padovani opened #263 "Complex object materialization"
Hi,

I understand how to manage complex object materialization by using a custom object relator class. But I recently tried a very small and focused library "Slapper.AutoMapper" and the way you can achieve this is very effective, so I wanted to report it.

I've also tried it combined with petapoco dynamic query projections and it works (not particularly fast but you pay some price on complex scena

[2016-03-03 06:31] enrico-padovani commented on #259
Nice to hear! I'm available for testing when released.

[2016-03-04 00:35] pleb commented on #263
Updated your comment to link to library.

The library itself is very interesting and I like how easy the usage is.

I've been playing around with how to populate/persist related entities. I'm still mulling over ideas in my head, because so nothing so far aligns with PetaPoco's simplicity and ease of use.

Do you see this as a query only feature (read only)?

Can I ask how you're currently persisti

[2016-03-04 06:39] enrico-padovani commented on #263
I think PetaPoco should remain simple as you said. Right now I'm trying to run away from EF and friends and kinda go back to the roots.

I'm just testing out possibilities, but I see this as a read-only feature. If you try to persist a graph of entities I think you'll end up in complex mapping and you'll still have headaches figuring out.

Recently I see applications really divided into queries an

[2016-03-04 15:54] diegodfsd commented on #258
Thank you @pleb I will try think in a how to improve the obvious idea to add log. I'm waiting for a new version.

[2016-03-04 20:41] enrico-padovani commented on #258
I think this could lead to a general design on implementing hooks in the pipeline that can be plugged in for monitoring events and avoiding subclassing.

I believe an elegant way could be to have a similar concept of action filters in asp.net mvc. Doing so, you could implement your logging strategy by using attributes / implement specific interfaces.

[2016-03-05 16:27] Jabben2015 opened #265 "Getting the field type is uncorrect through the method GetFieldType of IDataReader"
when the db field  type is bit,it will return a uncorrent type(System.UInt64,Actually it's type is bit) through the method GetFieldType of IDataReader,so it will throw a exception when try to cast long type to boolean type .can you give me an answer.

the part of code  in the PocoData.cs file.

// Get the source type for this column
var srcType = reader.GetFieldType(i);
var dstType = pc.PropertyIn

[2016-03-06 23:14] pleb commented on #261
@hobnob I add two integration tests to confirm the fix. I'll be releasing this shortly. Thanks for the contribute

[2016-03-06 23:22] #261 closed

[2016-03-06 23:24] pleb commented on #265
What version of PetaPoco are you using?

[2016-03-07 05:04] Jabben2015 commented on #265
I downloaded the master version code at five days ago.I had try the 5.0.1 version,it seems occured the same problem

[2016-03-07 15:16] tikaPahadi opened #267 "ASP.NET 5 Support?"
Does PetaPoco have support for ASP.NET 5? I am not getting to it.

[2016-03-07 17:30] hobnob commented on #261
@pleb  Cool, thanks :-)

[2016-03-08 21:33] pleb commented on #267
See [roadmap](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Roadmap) for planned support.

That said, you can use PetaPoco now with RC1, but you'll need to target the full framework (.net 4.6) as it won't work with lesser complete corefx. Lastly, you'll need to use PetaPoco compiled as the single file deploy versions don't work with the newer project layouts.

With fundamental changes on

[2016-03-08 21:33] #267 closed

[2016-03-08 22:47] diegodfsd opened #268 "Problem when using bracket on order by clause"
I have a column named like user in my table and I need using it in my order by clause, but user in sql server is a reserve word, so I need use brackets in my sql query.

My query looks like that:

[code]

[2016-03-19 13:05] rendall opened #271 ".NET 4.6+ does not add T4 Template Poco Builder"
Nuget no longer installs T4 Template Poco Builder (Database.tt, etc) neither in /Models nor anywhere from .NET framework 4.6 on.

[2016-03-19 13:07] rendall commented on #271
To replicate, add a new MVC project using .NET Framework 4.6 or above. Use NuGet to install PetaPoco into the project. Note that there are no new files added in /Models.

[2016-03-22 09:34] jackcaicn opened #273 "how to filter some tables when Generate database.cs"
1) how to filter some tables when generate database.cs, it will generate all tables.

2) if composite primary key, can't generate, like this
[code]

[2016-03-22 09:58] jackcaicn commented on #273
1) found settings
[code]

[2016-03-24 02:11] kmlxk opened #275 "Didn't get correct value from some table"
PetaPoco is the best ORM lib that I've used in C#.
But these days I met this strangy problem.
I queried some rows as usual, and code like this:

But I got an object that all the fields are default value.

`ID:0, Mat_Code:, Item_Code:, MES_LotCode:, Lot_Code:, Lot_Year:, CPD_Code:, GYCS
_Code:, StandardMaxValue:0, StandardMinValue:0, StandardTLValue:0, AverageValue:
0, MaxValue:0, MinValue:0, STD_D

[2016-03-25 06:51] kmlxk commented on #275
Stupid me. I defined the Model in the wrong way...

change to this:

[2016-03-25 07:52] picasso566 commented on #275
You also forgot to include the definition of the database table:

CREATE TABLE [dbo].SPC_History
ON [PRIMARY]
GO

Should be

CREATE TABLE [dbo].SPC_History (SPC_HistoryId Int, ... )
ON [PRIMARY]
GO

[2016-03-25 07:58] picasso566 commented on #275
Also, can you try a fetch and tell me the result?

List<SPC_History> result = db.Query(
"select top 3 * from SPC_History ORDER BY CreateTime DESC");
foreach (SPC_History item in result) )
{
Console.WriteLine(item.ToString());
}

[2016-03-25 08:34] kmlxk commented on #275
Thank you picasso566
The result is like this:

Because I want to dump the fields so I used ObjectExtensions.cs in this page: https://gist.github.com/baba-s/9285116

---------------------------------------------------

May I ask nother question:
I created a table that defined primary key as uniqueidentifier(in c# is GUID), but when I use db.Insert petapoco throw an type convertion exception from DB

[2016-03-25 08:47] picasso566 commented on #275
For your second question (I would put it in a new thread):

Insert a GUID in code before the insert. That's one of the main benefits of a GUID is being able to create an Id anywhere in the code and still have a low incident of collision.

[2016-03-25 14:10] Jabben2015 commented on #265
the table sql was(MySql) :

drop table if exists T_Singer;

/*==============================================================*/
/* Table: T_Singer                                              */
/*==============================================================*/
create table T_Singer
(
   ID                   bigint not null,
   SerialNumber         int,
   RealName             varchar(50),
   NickN

[2016-03-26 02:21] u0hz opened #276 "Set method in sql update"
I'm really glad to see PetaPoco been maintained again!

here's a little suggestion:

when i write sql like
[code]
i'd like to use the `Sql` class like
[code]
so it will be easy to write code just like how we use where clause
[code]

here's my modified `Build` function in `Sql` class
[code]

and add a `Set` function just like `Where`
[code]

thx!

[2016-03-26 03:41] #275 closed

[2016-03-26 06:41] JCKodel opened #277 "dotnetcore"
I have a working version (252 unit test passing) of PetaPoco (+ my contributions that never made to the main branch + Multi-Set results) running in DotNetCore50.

How can we merge that? =)

[2016-03-29 01:25] pleb commented on #275
Great work everyone!

[2016-03-29 01:27] pleb commented on #276
@u0hz looks good. However, you'll need to issue a PR and have unit tests to show your feature is working

[2016-03-29 01:27] pleb commented on #273
Awesome!

[2016-03-29 01:27] #273 closed

[2016-03-29 02:17] u0hz commented on #276
ok, I'll do it.

[2016-03-30 09:54] xmedeko commented on #258
You can use [slf4net](https://github.com/englishtown/slf4net).
Or some projects just use their own simple logging façade which is possible to set up by some `public static IMyLog Log` property.

To @enrico-padovani comment: IMHO something like
[code]
etc. is simpler and enough solution. When somebody want to chain such Actions he may do it as he likes:
[code]

[2016-04-01 00:11] pleb commented on #277
You would need to issue a PR so that I can see the changes.

We also need PetaPoco to continue to work for the full framework, so keep that in mind.

Until RC2 is released I hadn't planned looking into this too much, so please keep in mind that changes may not make it.

[2016-04-12 09:25] swojciechowski commented on #147
hi, I just got the same problem.
To resolve it make DateTime nullable just like in the integration test above by 'DateTime?' and simply assign null before saving to db.
Second way to handle it for SQL Server 2008+ is to use 'datetime2' as column type. It has extended range which meets the one from c# (default value is 1900-01-01 00:00:00).
https://msdn.microsoft.com/pl-pl/library/bb677335(v=sql.11

[2016-04-15 06:07] pleb commented on #276
Released

[2016-04-15 06:07] #276 closed

[2016-04-15 06:07] #277 closed

[2016-04-20 13:23] FabioParigi commented on #255
Thanks a lot @kuangyunsheng it work! --- you are my God!!!!

[2016-04-29 11:40] QuAzI opened #284 "Cached tables"
How can I use DB tables as cached dictionaries?
Is PetaPoco support loading by timeout (not faster than 1 in 30 sec) or something like SqlCacheDependency for MS SQL?

[2016-05-03 21:16] rufio620 opened #285 "No support for converting Guid's to Strings on Query or Fetch"
It appears that PetaPoco does not support converting Sql Server uniqueidentifer columns to strings when doing a fetch. The library throws _Object must implement IConvertible_. While I realize Guid does not implement IConvertable, this is a pretty common scenario and is supported by many other ORMs.

Looking at the code in PocoData.cs on line 362 it appears a check for the opposite (string => guid)

[2016-05-13 21:12] daflame76 opened #287 "Support FoxPro/DBase"
This implementation would be similar in many ways to SQLite / Firebird DB support.

[2016-05-13 21:17] daflame76 commented on #287
Commit 1851fbb413d1951b2334ff7ebdbab1b2d1a975bd is a good example how this should be done.

[2016-05-16 14:33] daflame76 commented on #287
I will try to work on this, but my time is limited so it could take awhile.

[2016-05-16 19:06] twheelmaker commented on #268
until fixed, maybe just use a non-reserved alias like SELECT [Level], [Description], [CreatedAt], [User] as MyUser FROM MyTable ORDER BY MyUser

[2016-05-23 13:25] cmwong commented on #201
Another way to fixed it.
    public class SqlServerDatabaseProvider : DatabaseProvider
    {
        public override object ExecuteInsert(Database db, System.Data.IDbCommand cmd, string primaryKeyName)
        {
            // 20160523 to fixed the OUTPUT clause When trigger in on
            cmd.CommandText += ";\nSELECT SCOPE_IDENTITY()";
            return db.ExecuteScalarHelper(cmd);
        }

[2016-05-24 14:38] newyhj opened #291 "execute sql error"
PLATFORM:SQL SERVER 2008+NET 4.5
string sql =
                "select a.id,a.name,count(b.id) as coun from table_a as a left join table_b as b on a.id=b.cid group by a.id,a.name,count(b.id) having count(b.id) "

var result =db.Page<Goods>(pageIndex, pageSize, sql);

[2016-05-24 21:14] pleb commented on #291
What was the error you got?

Are you sure it's not a typo "coun" should be "count"?

[2016-05-25 16:16] thefraj commented on #147
Hi @pleb

Finally had a chance to run your code and this also throws the exception (SQL Layer one as documented in the original ticket)

**SqlDateTime overflow. Must be between 1/1/1753 12:00:00 AM and 12/31/9999 11:59:59 PM.**

Basically what I think may have gone missing here: is a DateTime cannot be null (of value) at any stage. You can assign it null, or mark it as nullable and either assign n

[2016-05-26 10:02] pleb commented on #291
How did you go @newyhj

[2016-05-26 10:03] pleb commented on #284
@QuAzI you probably want to take this to something like Stackoverflow

[2016-05-26 10:03] #284 closed

[2016-05-27 02:47] pleb commented on #126
Has been fixed

[2016-05-27 02:47] #126 closed

[2016-05-27 02:48] pleb commented on #291
Closing due to no response for OP

[2016-05-27 02:48] #291 closed

[2016-05-27 02:49] pleb commented on #39
Closing as @LankyPaddy has added this feature

[2016-05-27 02:49] #39 closed

[2016-05-27 02:50] pleb commented on #153
Closing as there's integration tests for nullable types now, and I don't think this is an issue anymore. Please reopen if you believe I'm wrong.

[2016-05-27 02:50] #153 closed

[2016-05-28 09:22] Tdue21 opened #292 "Benchmarks on thousands of records?"
Hello, I am currently evaluating PetaPoco for potential use. I have a few questions., First of:

1. Are there thorough documentation for joins?
2. Are there any benchmarks for manipulating/joining on data with thousands of records?

Specifically I have a bit of a problem with understanding how multi queries are supposed to work. Right now I execute my joins so I only return records from e.g. the c

[2016-05-28 10:31] Tdue21 opened #293 "Multiple fields primary key"
It is possible to map primary keys composed of multiple fields?
If not, is it possible to enforce unique keys?

[2016-05-28 22:42] pleb commented on #293
Duplicate of #259

[2016-05-28 22:42] #293 closed

[2016-06-02 10:42] masasih opened #294 "Need ODBC support"
I did not find ODBC support, I'm using Sybase ODBC so it thrown an error, could you please add it in code:
[code]

[2016-06-03 08:53] pleb commented on #294
@masasih there's more, much much more, when adding support for a DB. I'm sorry, but I'm not I'm not going to be adding support for this myself. However, I'll happily accept a PR if the code is of good quality, there's appropriate unit/integration tests, and no regression.

[2016-06-03 08:53] #294 closed

[2016-06-13 08:51] dongfangzhizhu commented on #255
Thanks a lot @kuangyunsheng it work!Prefect!!

[2016-06-17 04:17] phamtienhung commented on #255
Thank you, @kuangyunsheng , you saved my days

[2016-07-08 18:31] LambertW opened #297 "MySql.Data.MySqlClient Provider Cannot found"
I want to used T4 template to generate models, and use `nuget` to install **MySql.Data**，but it didn't work as expected. It cause exception in follow function `LoadTables`:
[code]
It seems that **DbProviderFactories.GetFactory(ProviderName)** cause the exceptions like:
`"Failed to load provider MySql.Data.MySqlClient - 找不到请求的 .Net Framework Data Provider。可能没有安装。“`

I alse make sure that in `app.se

[2016-07-09 02:52] LambertW commented on #297
After I restart the computer, and open the t4 project, It can work now.
But i still don't know which steps fixed it.(Restart Computer or Restart Solution or install the mysql .net connector from the mysql website).

[2016-07-09 08:49] pleb commented on #297
Sounds like some sort of misconfiguration between DbProviderFactories and Connection strings. By installing MySQL you've probably fixed this at the machine level config. Good luck with PetaPoco now that it's working for you :smile:

[2016-07-09 08:49] #297 closed

[2016-07-13 16:04] eidolonic commented on #259
schotime/PetaPoco fork implements this. Haven't taken the time to run down the differences as it hasn't been updated in a while, but maybe there's a possibility of an "easy" collaborative solution here?

[2016-07-14 08:21] pleb commented on #259
It would be that hard of a change to make - if you're interested ;)

[2016-07-14 16:54] pynej commented on #106
This is a major issue.  It also means that if you ever run any interim logging before the final SQL is generated the build SQL will be permeant and never rebuilt.  In addition if you add any Sql object to you watch window or any other debug profiling on nit then the code won't execute the same and when not debugging the code.  This is a MAJOR problem as simply debuging code and stepping through li

[2016-07-15 04:41] pleb commented on #106
@pynej are you saying it should be re-runable? And because it's not, this is a bug?

[2016-07-15 13:14] pynej commented on #106
its not so much that you can or can't re-run it.  It's that if you touch the .SQL property for any reason, writing it to a log before the query, or by inspecting it with a  tracer or in the debug tools, they it makes that value permanent and additional calls to append to it don't do anything.  Ie the following should not work:

[code]

[2016-07-16 00:37] pleb commented on #106
Ah I see. Yeah that's not right and we should fix it. I might get some time over the next few days to look at it. Or if you want to have a go, please don't hesitate.

[2016-07-16 00:47] pleb commented on #106
Ok the unit test that proves this bug. @pynej  thanks ;)

       [Fact]
        [Description("Investigation of reported bug #106")]
        public void Sql_CacheShouldBeResetAfterAdditionalChanges_ShouldBeValid()
        {
            _sql.Select("field");
            var sqlCapture1 = _sql.SQL;
            _sql.From("myTable");
            var sqlCapture2 = _sql.SQL;
            _sql.Where("id =

[2016-07-16 01:19] pleb commented on #106
Actually the unit test was wrong.

This one, however, works.

        [Fact]
        [Description("Investigation of reported bug #106")]
        public void Sql_CacheShouldBeResetAfterAdditionalChanges_ShouldBeValid()
        {
            _sql.Select("field");
            var sqlCapture1 = _sql.SQL;
            _sql.From("myTable");
            var sqlCapture2 = _sql.SQL;
            _sql.Where("

[2016-07-16 04:54] pynej commented on #123
This is likely due to the issue noted in #106

[2016-07-17 02:57] pleb commented on #106
@pynej I think this was fixed with

https://github.com/CollaboratingPlatypus/PetaPoco/commit/fe7d7bb41df5c7c9f3bc94bf165d6ffa5dbe6211#diff-67cd1e6be384082296a81257c1fe46b5

I'm wondering if you're using an older version?

[2016-07-17 07:32] mabakay commented on #106
Wow! After 37 months however (my) fix applied and after next 7 project member accepted it!

[2016-07-17 08:25] pleb commented on #106
@mabakay Sorry - I think I ported this from npoco after I took over maintenance. But, yes, essentially the same as what you proposed.

[2016-07-18 13:15] pynej commented on #106
@pleb Ah, yes this patch does fix it.  Sorry I missed that and didn't realize that the code I was testing was a older version.  I have tested with the correct current code witch has that line and it works as expected.

[2016-07-18 13:16] pynej commented on #106
This issue should be closable now.

[2016-07-18 20:04] pleb commented on #106
Ok. Good to see we got this sorted out.

[2016-07-18 20:04] #106 closed

[2016-07-19 19:02] Kenstea opened #305 "Petapoco does not support Guid auto-generation in SQL"
When creating a table in SQL with primary key set as Guid, default value as newsequentialid() or newid().
The insert method will cannot be executed because it lacks of Guid generation.

I have addressed the issue during my project and has proposed a fix.
The fix at #304

[2016-07-19 19:31] JohnMarsing commented on #271
If I want to upgrade my project to .Net Framework 4.6, is there a good work around for this?

[2016-07-20 00:09] pleb commented on #271
@rendall @JohnMarsing the work around for now is to copy/paste these files manually. You can download them from the master branch or extract the nuget package (packages are zip files).

[2016-07-20 00:16] pleb commented on #305
Released

[2016-07-20 00:16] #305 closed

[2016-07-20 00:52] ehsaanwelcome opened #307 "Object tracking"
I have seen one of the example in documentation
var a=db.SingleOrDefault<article>("SELECT * FROM articles WHERE article_id=@0", 123);
a.content="PetaPoco was here again";
db.Update("articles", "article_id", a);

I think, It is tracking objects. Is there a way to disable tracking in order to improve performance?

[2016-07-20 03:02] pleb commented on #307
Hi @ehsaanwelcome. PetaPoco has no object tracking ;)

[2016-07-20 03:02] #307 closed

[2016-07-20 11:32] ehsaanwelcome opened #308 "Reuse EntityFramework Connection"
Is there any way to use EF connection with PetaPoco.
Actually, i want to use both EF and PetPoco thus want to use same sql connection.
Can you point out if it is in documentation as i am unable to find out? otherwise can you please add this thing as feature?
I have a plan to use PetaPoco for future Sql call but keep using EF for existing Sql calls. i hope, there will be other users who want same t

[2016-07-20 12:28] pleb commented on #308
Yes you can. Open a connection via EF and pass it in the constructor to PetaPoco

[2016-07-20 13:58] aburok opened #309 "Page method doesn't work when ORDER BY column name is in square brackets e.g. [columnName]"
When the column name in Order By statement is wrapped with square brackets, then the Page method on Database is not working.
It throws following exception:
Column "<columnName>" is invalid in the ORDER BY clause because it is not contained in either an aggregate function or the GROUP BY clause.

[2016-07-20 23:49] pleb commented on #308
@ehsaanwelcome see the docs [here](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Ways-to-instantiate-PetaPoco#public-databaseidbconnection-connection)

[2016-07-20 23:49] #308 closed

[2016-07-20 23:50] pleb commented on #309
@aburok interesting. Is the new (as in since release #.#.#) or do you think it's always been?

[2016-07-21 06:43] aburok commented on #309
@pleb it was on version 5.1.105. But I didn't test that in newer one.

[2016-07-21 08:56] pleb commented on #309
I'll add an integration test to confirm. It may be a few days before I get around to this.

[2016-07-21 09:08] aburok commented on #309
Great :) thanks for quick response.
You don't have to hurry, I've found a work around but it would bo good to fix that.

[2016-07-21 18:23] ehsaanwelcome commented on #308
worked, really appreciate your quick reply.
Thanks.

[2016-07-22 10:17] Paul-Dolphin opened #310 "Problem with tt template"
When compiling the tt template a number of errors are generated, the first of which is
Compiling transformation: Invalid token 'this' in class, struct, or interface member declaration
This is caused by trailing spaces in the template file, see
[http://stackoverflow.com/questions/23281434/t4-reports-compiling-transformation-invalid-token-this-in-class-struct](url)

[2016-07-23 04:03] pleb commented on #310
Hi @Paul-Dolphin,

I believe I addressed this issue in commit [7de7e031052fd869acc2feddef421e5e03d238ab](https://github.com/CollaboratingPlatypus/PetaPoco/commit/7de7e031052fd869acc2feddef421e5e03d238ab).

Are you using the latest version?

[2016-07-25 08:56] Paul-Dolphin commented on #310
I just grab the latest stable release from NuGet – the last project I created used 5.1.206 and the templates still had trailing spaces.

Paul Dolphin
AXA Technology Services, Middle Europe & Japan (MEJ)
Workplace Delivery
12, Claymoor Park
Marlow
SL7 3DL
UK
Mobile: +44 (0)7977 917774 (int: 611 7774)
Home: +44 (0)1494 523574
Email: paul.dolphin@axa-tech.com<mailto:paul.dolphin@axa-tech.com>

From:

[2016-07-25 11:07] 0ndrej opened #311 "Missing XML Documentation Comments"
PetaPoco.Core.Compiled library is completely missing XML Documentation Comments so there are no descriptions in Object Browser and IntelliSense. It is against your guidelines for contributing (_All public APIs should include XML doc comments._).

[2016-07-26 21:39] MB34 opened #312 "Calling Oracle pipelined function results in "Unsupported column datatype" exception"
I calling a pipelined function in Oracle, I'm getting an "Unsupported column datatype" error and not sure how to remedy this.

Here's the code, this is a little simpler than it is in reality but it works exactly the same:
[code]
Here's the 2 types:
[code]
Here's my service call:
[code]
And here's the Models:

[code]

[2016-07-28 15:29] dimitritron opened #313 "Adding Attributes to Columns with the T4 template"
I was wondering if it is possible to add my own attributes to the properties (columns) generated by the T4 template.

In this particular case I want to add a [JsonIgnore]-attribute to an Id-property. This doesn't seem to be possible at the moment.

For now I just ignore th particular table and mannualy craft the POCO but that means I have to manually maintain it if the db changes.

Not sure if thi

[2016-07-29 05:17] pleb commented on #313
It's currently not possible. You could edit the template to do it though. It wouldn't be that hard ;)

[2016-07-29 05:17] #313 closed

[2016-07-29 10:55] jovball opened #314 "DbProviderFactory with ORM Profiler"
We are using ORM Profiler to examine generated queries from our ORM tools. It works with other ORM such as EF and Dapper but not with PetaPoco. Can you suggest a work-around for this? Apparently PetaPoco is doing something different with DbProviderFactory but I'm not able to understand what that is.

[2016-07-29 11:33] pleb commented on #314
Interesting. All that I can think of is that depending on which method of construction is used will depend on whether the provider factory is used. Maybe [this](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Ways-to-instantiate-PetaPoco) document page will be of use for you?

[2016-07-29 11:42] pleb commented on #312
@MB34 Sorry for the late reply.

I really want to help, but we're missing [Oracle from integration tests] (https://github.com/CollaboratingPlatypus/PetaPoco/tree/development/PetaPoco.Tests.Integration/Databases)

If you could help us out, or at least do enough to show a failing test for this case I'm sure it would take long to sort out the issue. [Here's an example where I have a few MSSQL only bu

[2016-07-29 11:54] jovball opened #315 "Query is running three times"
My queries are showing up as repeating three times when I look at SQL Server Profiler. I'm not doing anything exotic.
`
 var sqlDb = new Database(connectionStringKey);

 var customers = sqlDb.Query<Customer>("SELECT * FROM dbo.Customers WHERE country=@0", country);
`

[2016-07-29 12:08] pleb commented on #315
Try it from something like [Linqpad](https://www.linqpad.net/) to eliminate your application.

You might because causing this with a linq statement by accident, so I'd suggest you may want to use `Fetch` and not `Query` as fetch will return a complete collection where as query will yield return the results are you need them.

[2016-07-29 12:23] pleb commented on #311
@0ndrej thanks for pointing it out. I've updated the nuget package to include the XML for the compiled version of PetaPoco

[2016-07-29 12:23] #311 closed

[2016-07-29 12:37] pleb commented on #310
@Paul-Dolphin Sorry about that. Version 5.1.211 (the latest) does not have trailing spaces

[2016-07-29 12:37] #310 closed

[2016-07-29 13:39] Paul-Dolphin commented on #310
Great, thanks

Paul Dolphin
AXA Technology Services, Middle Europe & Japan (MEJ)
Workplace Delivery
12, Claymoor Park
Marlow
SL7 3DL
UK
Mobile: +44 (0)7977 917774 (int: 611 7774)
Home: +44 (0)1494 523574
Email: paul.dolphin@axa-tech.com<mailto:paul.dolphin@axa-tech.com>

From: Wade Baglin [mailto:notifications@github.com]
Sent: 29 July 2016 13:38
To: CollaboratingPlatypus/PetaPoco
Cc: DOLPHIN Paul

[2016-07-29 15:09] MB34 commented on #312
Well, with the help of our Oracle developer, we figured out that it works if you do this:
`var sql = "SELECT * FROM TABLE(F_SUG_PUBS_BY_DESIGS('" + Desigs + "'))";`

[2016-07-30 00:03] pleb commented on #312
Ok good to hear

[2016-07-30 00:03] #312 closed

[2016-07-30 00:41] pleb commented on #309
Added integration test. Confirms this has already been fixed

[2016-07-30 00:41] #309 closed

[2016-07-30 00:41] pleb commented on #268
Added integration test. Confirms this has already been fixed

[2016-07-30 00:41] #268 closed

[2016-07-30 00:42] #292 closed

[2016-07-30 00:46] Tdue21 commented on #292
I suppose that means "no"...

[2016-07-30 00:55] pleb commented on #292
Hi @Tdue21,

I tag the issue as 'community alert'. No community member took the time to reply to you, so I closed the issue. I believe I gave it fair time to be answered.

Maybe try StackOverflow?

Regards, Wade

[2016-07-30 01:56] pleb commented on #271
It worked for me. I'm using VS2013 Update 3 and the latest PetaPoco

![image](https://cloud.githubusercontent.com/assets/595869/17267436/a974a14c-564c-11e6-85e0-8ca592903b2e.png)

[2016-07-30 02:33] pleb opened #318 "PetaPoco does not support postgresql json types"
As reported by @edwardqinhong

I have a question about using PetaPoco. I have a postgresql database table, which has three columns: id, tester, and data (jsonb type). Here is the table class generated by T4 template:
[TableName("public.jsonb1")]

[PrimaryKey("id", AutoIncrement=false)]

[ExplicitColumns]
public partial class jsonb1 : SktestDB.Record<jsonb1>
{
    [Column] public int id { get; set;

[2016-07-30 02:39] pleb commented on #318
Added in latest beta

[2016-07-30 08:21] Tdue21 commented on #292
It's ok.

[2016-08-02 09:00] pleb commented on #315
How did you go @jovball?

[2016-08-02 09:00] pleb commented on #314
How did you go @jovball?

[2016-08-03 00:20] jovball commented on #315
Using Fetch fixed the problem. I don't think I understand the point of Query if this is the result.

[2016-08-03 00:45] pleb commented on #315
No worries @jovball

This might be of help (https://www.jetbrains.com/help/resharper/2016.1/PossibleMultipleEnumeration.html)

[2016-08-03 00:45] #315 closed

[2016-08-03 01:06] jovball commented on #314
I can only get this to work by changing the PetaPoco code and using the Database(IDbConnection connection) overload. The code that needs to change is any code that calls  internal static IProvider Resolve(Type type, bool allowDefault, string connectionString). The allowDefault parameter needs to be true or it will throw an exception.

It seems like there should be a property or parameter related t

[2016-08-03 01:26] pleb commented on #314
@jovball

I've looked at the code.

It should throw and that is the correct behaviour.

It's throwing because it can detect the database type, and therefore, it doesn't know what the correct dialect is.

Can you post the exception message as it contains useful information?

[2016-08-03 10:58] jovball commented on #314
I understand that the code is doing what it is supposed to do. My point is that there is no way for me to change the allowDefault parameter value so that it falls through to the "default." That is, line 4693 is effectively unreachable code although the compiler cannot know it.

`
// Assume SQL Server
return Singleton<SqlServerDatabaseProvider>.Instance;
`
As to the exception, ORM Profiler

 Messag

[2016-08-03 11:38] jokokko opened #319 "PostGreSqlSchemaReader does not map uuid to System.Guid"
PostGreSqlSchemaReader when switching on column's udt_name maps uuid to string (the default case). It should be mapped to System.Guid (https://www.postgresql.org/docs/9.0/static/datatype-uuid.html).

[2016-08-03 14:23] dimitritron commented on #313
I tried a few secnarios with sublclasses and etc. but in the end I did as you suggested and edited the template.
I don't kknow if anyone else might be interested in this, but here is how I did it:
In  PetaPoco.Core.ttinclude I edited the Column class to include an Attributes string
[code]
Toward the end of PetaPoco.Generator.ttinclude I changed the template in three places to include the Attribute

[2016-08-04 06:53] FransBouma commented on #314
Hi, I wrote ORM profiler and LLBLGen Pro

The problem you state with database determination based on the factory is real. However, there's a trick we orm writers implement and which is used by Glimpse, Hibernating Rhino's profilers and ORM profiler, we implement IServiceProvider on the wrapping DbProviderFactory. This way you can determine the real provider factory even if it's a wrapped factory.

[2016-08-04 09:34] newyhj opened #322 "[question]does support page method for join query??"
code:
var result=db.Fetch<Order,OrderItem,Order>((a, u) => { a.Id= u.OrderId;return a;},"select a._,b._ from xx_orders as a left join xx_order_items as b on a.id=b.orderid");

but this method does not support paging output,Have a support paging output method??

[2016-08-05 00:51] pleb commented on #314
@FransBouma thanks for the guidance, I will add this PetaPoco ASAP.

Also a shutout to your great LLBLGen Pro product. It's featured in a few projects that I've had the privilege to work on in the past, and I've always had good experiences with it. :clap:

@jovball please expect this update in the next week or so. As a work around, you can unwrap the factory before passing it to PetaPoco

[2016-08-05 02:26] jovball commented on #314
That's great. I appreciate the responsiveness from both of you.

[2016-08-05 07:44] FransBouma commented on #314
@pleb thanks for the kind words and glad I could help out! Keep up the good work :)

[2016-08-06 00:05] pleb commented on #314
@jovball the latest beta builds will unwrap the factory for you. let me know how you go :smile:

[2016-08-06 15:29] jovball commented on #314
By beta, do you mean Install-Package PetaPoco -Pre? Or something else? I'm getting the same results with that package as before. No profiling and an exception at the same place when I use the overload with an open connection.

[2016-08-06 22:51] pleb commented on #314
Yep `-Pre`

The overload to use is the one which takes an instance of `DbProviderFactory`

[2016-08-07 00:27] jovball commented on #314
Here's a code snippet. I'm not getting anything in ORM Profiler using this code.

`            var connectionStringKey = "NorthwindConnection";
            var connectionString = ConfigurationManager.ConnectionStrings[connectionStringKey].ConnectionString;
            var factory = DbProviderFactories.GetFactory("System.Data.SqlClient");
            var sqlDb = new Database(connectionString, facto

[2016-08-07 23:47] pleb commented on #314
`var factory = DbProviderFactories.GetFactory("System.Data.SqlClient");`

That appears to be the SQL factory and not the profiler factory

[2016-08-08 01:54] t4thfavor opened #324 "Provider Error When Using MS Access 2010"
I'm receiving an error when using this connection string.
Provider=Microsoft.ACE.OLEDB.12.0;Data Source=F:\Projects\FoodTracker\Foods.accdb;Persist Security Info=False;

I didn't find any doc on how to formulate the connection string, and the initialization of the DB appears to be OK, but the error is thrown when I initiate the first query to the DB. (I'm assuming that's the first time the databas

[2016-08-08 02:16] pleb commented on #324
You can checkout the connection string we use for [integration testing](https://github.com/CollaboratingPlatypus/PetaPoco/blob/development/PetaPoco.Tests.Integration.x86/app.config)

[2016-08-08 04:00] jovball commented on #314
It appears that the only PetaPoco.Database overload that will work with ORM Profiler is the one that accepts a connection. That's the overload that I need fixed. I either need PetaPoco to unwrap the provider correctly or give me a way to prevent that exception in the Resolve method.

[2016-08-08 04:16] pleb commented on #314
@jovball does it work for you if you unwrap the provider yourself?

[2016-08-08 07:03] FransBouma commented on #314
That's the thing: that code will produce the original SqlClient factory if there's no profiler active, or it will produce the wrapping factory if there is a profiler active. DbProviderFactory's interface is the same. So the code using the factory is the same, it won't notice the factory is actually wrapped.

Unless, the code checks the type of the factory returned and tries to conclude what DB is

[2016-08-08 08:44] pleb commented on #314
@FransBouma Ah ok. I wasn't sure if somebody using a profiler would need to change `"System.Data.SqlClient"` or not. Thanks for clearing it up.

@jovball I'm not sure what going on. The constructor which takes a factory provider unwraps (beta package only), so if it's not working for you I'm stumped.

[2016-08-08 09:13] pleb commented on #314
Actually I have an idea.

[2016-08-08 09:15] FransBouma commented on #314
From the looks of it, if I simply call the Database() ctor, I end up here:
https://github.com/CollaboratingPlatypus/PetaPoco/blob/development/PetaPoco/Core/DatabaseProvider.cs#L182

which doesn't do any checking properly, or did I miss a line?

[2016-08-08 09:18] pleb commented on #314
@jovball try this

    public class ProfilerDatabaseProvider : SqlServerDatabaseProvider
    {
        public override DbProviderFactory GetFactory()
        {
            return DbProviderFactories.GetFactory("System.Data.SqlClient");
        }
    }

    var petapoco = new Database(connectionString, new ProfilerDatabaseProvider());

@FransBouma I think it could be to do with the way PetaPoco get

[2016-08-08 09:54] FransBouma commented on #314
Yes, using the code I could navigate it better, I used the github website but I ended up at the wrong spot. I indeed see the SqlServerDatabaseProvider being created, and then the GetFactory() method being called which indeed does the wrong thing.

I don't know why you obtain the factory using the hard-coded factory type at line 20 in SqlServerDatabaseProvider. The DbProviderFactories class already

[2016-08-09 00:21] t4thfavor commented on #324
Changing mine to closely match yours worked along with changing runtime to x64 since I don't believe I have x86 runtimes installed.
<add name="access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=F:\Projects\FoodTracker\Foods.accdb" providerName="OleDb"/>

I believe it was the providerName that actually makes the difference even though the original one was a valid connection str

[2016-08-09 01:01] pleb commented on #324
@t4thfavor good to hear mate. thanks for writing back with how you went :smile:

[2016-08-09 01:01] #324 closed

[2016-08-09 09:48] howardhee opened #325 "The SqlParameter is already contained by another SqlParameterCollection."
When I pass a parameter to my store procedure, I get that message. How do I fix it? Thanks

My Type as below:

[code]

My store proc as below:

[code]

My C# code:
[code]

[2016-08-09 11:13] 0ndrej opened #326 "Sql.Builder is not accepting parameters"
I am trying to create simple query with parameters in VB.NET:
`Dim query = Sql.Builder.Select("*").From("Projects.Tasks").Append("WHERE Code LIKE @0", 13)`

But after this, query.Sql have value
[code]
which means that parameter 13 was not inserted to SQL.

[2016-08-09 12:33] pleb commented on #326
@0ndrej this is the correct behaviour. The SQL and parameters are passed to the DB Command to prevent injection based attacks. The connected DB will put the SQL and parameters together in a safe manner

More detailed information can been found by reading the[unit test] (https://github.com/CollaboratingPlatypus/PetaPoco/blob/development/PetaPoco.Tests.Unit/Core/SqlTests.cs) code.

[2016-08-09 12:33] #326 closed

[2016-08-09 12:40] pleb commented on #325
Try using `Fetch` and not `Query`. If that works, you're calling `Query` multiple times which is probably by accident.

[2016-08-09 12:59] 0ndrej commented on #326
Then HOW i pass parameter values to query? I thought that value 13 will be inserted to @0 placeholder.

[2016-08-09 13:03] pleb commented on #326
Suggest you read [this](https://support.microsoft.com/EN-US/kb/306636) and jump to `https://support.microsoft.com/EN-US/kb/306636`

[2016-08-09 13:19] 0ndrej commented on #326
It works with = operator, but not with LIKE operator.

[2016-08-09 14:33] newyhj opened #327 "hope support join query paging!"
SQL:select a._,b._ from xx_orders as a left join xx_order_items as b on a.id=b.orderid
when i want to paging view,like:
var result=db.**Page**((a, u) => { a.Id= u.OrderId;return a;},"select a.,b. from xx_orders as a left join xx_order_items as b on a.id=b.orderid");

[2016-08-09 14:37] newyhj commented on #327
SQL:select a.,b. from xx_orders as a left join xx_order_items as b on a.id=b.orderid
when i want to paging view,like:
var result=db.**Page**(2,20,(a, u) => { a.Id= u.OrderId;return a;},"select a.,b. from xx_orders as a left join xx_order_items as b on a.id=b.orderid");

[2016-08-09 21:24] pleb commented on #326
Can you show how you went about using the LIKE operator?

[2016-08-10 01:27] howardhee commented on #325
yes. it's worked. Thanks

[2016-08-10 01:27] #325 closed

[2016-08-10 03:01] Kenstea opened #328 "Publish/share Transaction to outside of PetaPoco"
I'm going to create a new functionality (BulkCopy) that will share connection/transaction with PetaPoco. However, there is no way to use the shared connection in PetaPoco. So, i'm think of publishing the property IDbTransaction from it (it is a private property). Should it be good or not? I have not made an evaluation on this but just share the idea.

[2016-08-10 04:11] pleb commented on #328
var db = new PetaPoco();
    using(var transcation = db.GetTransaction())
    {
        var connection = db.Connection; // this is the connection
    }

[2016-08-10 06:25] 0ndrej commented on #326
This does not work, nothing was selected from database:
[code]

This works, 6 records selected from database:
[code]

[2016-08-10 07:14] pleb commented on #326
I spotted a common mistake when using parameters.

Change this `Append("WHERE Code LIKE '@0%'", 13)` to this `Append("WHERE Code LIKE @0", "13%")`

Parameters protect against the behaviour you're trying to execute, which is why they're consider best practice

[2016-08-10 07:27] 0ndrej commented on #326
LOL it works this way! Thanks.

[2016-08-10 09:13] ancailliau commented on #182
You can use `Mono.Data.Sqlite` by using a custom db provider.

[code]
and

[code]

[2016-08-10 09:42] pleb commented on #326
Yeah no worries. just remember parameters get replace by the parameter value and that value won't form valid sql. So `"@0"` value `"test"` is actually `"\"test\""`

[2016-08-10 09:48] pleb commented on #182
Thanks @ancailliau. If you don't mind, I'll add the `MonoSQLiteDatabaseProvider` class you have there to PetaPoco

[2016-08-10 10:24] ancailliau commented on #182
My code is yours. Feel free to use it as you wish. I'll be glad to remove my class from my code on a next update of the lib :-)

[2016-08-10 10:31] 0ndrej opened #329 "Use datetime2 data type as default value for mapping dates"
Using datetime2 as data type for dates and times in MSSQL databases is recommended by Microsoft. In PetaPoco, every date and time column is mapped as datetime instead of datetime2. This could lead to lose of precision and overflow exceptions.

[2016-08-10 14:08] Kenstea commented on #328
Thanks pleb. Much appreciated. It appears that is a simple way if we use Database. In point of my view, I would prefer to use PetaPocoRepository rather than Database to avoid exposing too much to outside. So, I'm seeking to publish the private IDBTransaction _transaction to:

protected IDBTransaction Transaction
{
   get
    {
        return _transaction;
    }
}

[2016-08-11 00:41] pleb commented on #328
Accessing the `IDBTransaction` would be a bad idea because of how PetaPoco controls transactions. I would recommend using the PetaPoco transaction functionality as is. Is there a specific reason why you would need reference to the `IDBTransaction` transaction instance?

Maybe this is more what you're after

    var db = new PetaPoco();
    db.OpenSharedConnection();
    var connection = db.Connect

[2016-08-11 01:31] Kenstea commented on #328
The reason is i'd want to create a method  using the public Transaction out of Database. Something like:
    var repo = PetaPocoRepository.GetInstance();
     using(var outerTransaction = repo.BeginTransaction())
     {
              //Do bulk copy
               var sqlCnn = (SqlConnection)repo.Connection;
                var sqlTrans = (SqlTransaction)repo.Transaction; //using a public transacti

[2016-08-11 02:03] pleb commented on #328
My suggestion would be to not to use a repository for your bulk copy interaction, as using a repository here is not was a repository was built for. I think your trouble is with trying to force the repository to do something it's not designed for. Maybe create a wrapper/proxy for SqlBulkCopy and use it in combination with a PetaPoco instance. Or simply use ado.net without PetaPoco for SqlBulkCopy

[2016-08-11 15:31] Kenstea commented on #328
Appreciated your following. You are right, Wade. I may not need to use the Repository. However, it still needs to use Transaction. So, there is something like:
[code]
Would it be not a bad idea?

[2016-08-12 00:28] pleb commented on #328
@Kenstea

if the latest beta build you can

    var transaction = ((ITransactionAccessor)db).Transaction;

[2016-08-12 03:22] Kenstea commented on #328
You did great. Thank you Wade. I should try the latest and see.

[2016-08-12 03:22] #328 closed

[2016-08-12 17:53] pynej opened #330 "Should support multi-part primary keys."
Used in many-to-many style table structures:  IE:

[code]

This can be loaded as expected using the following:
[code]

The problem is though this data can be loaded and correlated into a hierarchy with a Relator no other normal operations can be done with the UserGroups models due to the multi-part key.

Ie one can't check .Exists, .IsNew, .Update, or even .Fetch records directly from the joiner e

[2016-08-12 18:54] pynej commented on #330
I have started a PR for code changes and logical method changes to support multi-part keys.
https://github.com/pynej/PetaPoco/tree/multi-part-pks

Basically I made two changes.  First off to make the PrimaryKey attribute support multi-part keys, and secondly for all the exposed methods where a user can supply a primary key value to be params instead so they can supply more then one as needed.

Thi

[2016-08-13 03:19] pleb commented on #330
@pynej Looking good so far mate. I made a few comments on your commit; I hope this is ok with you?

[2016-08-13 03:25] pleb commented on #330
@pynej Don't forget a couple of integration tests to ensure composite keys works.

If you don't docker - that's ok - just test against whatever Db you use. I can test against all the others.

If you do docker, all you need to do is have the latest docker installed (the new fancy windows version) and then run `docker up` against the [compose.yml](https://github.com/CollaboratingPlatypus/PetaPoco/bl

[2016-08-13 03:30] pynej commented on #330
Cool. I'll look. Yah in not that farmilure with the internal code And that will need a bunch of update as well to get multi-part key working whe specified on the model level. But I'll keep working on it and get as far as I can.

[2016-08-13 20:35] edwardqinhong commented on #318
I tested 5.1.223 and got the same error. What am I missing?

[2016-08-14 00:21] pleb commented on #318
Version 5.1.223 is not a beta.

Also make sure you review the linked commit for this issue to understand how it works and how you will need to map your json columns

[2016-08-15 01:27] miyagisan85 opened #331 ""ErrorGeneratingOutput" when compiling Database.tt"
In the latest version, 5.1.223, when attempting to save Database.tt, the error message "ErrorGeneratingContent" is saved to Database.cs.  I was able to install an older version (5.1.211), and have this work correctly.  I also tried the beta versions, which threw the same error.

I had a dig through your issues and can't see this as a known issue, so thought I should raise this here.

Let me know i

[2016-08-15 10:54] arnorhaux commented on #331
+1   Windows 64bit, Visual studio 2015

[2016-08-15 21:29] su8898 commented on #331
+1 Win10 64bit, VS 2015. PostgresSQL

[2016-08-15 23:44] ngbrown commented on #331
It's an errant newline at the end of `PetaPoco.Core.ttinclude`.  The file should end at the end of the `#>`, not on the next line.  Delete that and you should be good.

[2016-08-15 23:57] pleb commented on #331
Sorry everyone. An extra line break at the end of a file seems to get included every time I accept a PR for any TT file changes. The main issue I have is that I haven't figured out a way to integration test the TT files yet, and I don't really have time to manually test each PR.

Again. Sorry

[2016-08-16 00:21] pleb commented on #331
@miyagisan85 @arnorhaux @su8898  @ngbrown this should be fixed in the latest release (which is building now so give it a few minutes). If you guys could try it and report whether it's been resolved or not? That would be appreciated very much :smile:

[2016-08-16 00:32] miyagisan85 commented on #331
@pleb Success!  Thanks for fixing that, it's working beautifully now.

[2016-08-16 04:00] pleb commented on #331
@miyagisan85 Awesome!

[2016-08-16 04:00] #331 closed

[2016-08-17 21:07] pynej commented on #330
I'v done a good bit more work on this.

Basically I have:
- Changed TableInfo.PrimaryKey to an array and updated references to it.
- Added alternate methods to all the public API's to support specifying primaryKeyValue's as parameters.  This will also support supplying them as a single object[] so the users can do it either way.
Eg: `DB.Update("SpecificPeople", new string[] {"Id", "cId"}, personOt

[2016-08-17 23:37] pleb commented on #330
@pynej Can you make a PR to the `CompositeKeySuppport` branch. I'll add some integration tests

[2016-08-22 07:06] kont61 opened #334 "Oracle Globalization Settings"
While Connecting to oracle, I need to change Comparison  and Sort parameters. I changed OnConnectionOpened metod like below. And It is worked.

[code]

Is there any other way to change Comparison  and Sort parameters without any changing petapoco.cs

Thanks.

[2016-08-22 09:58] pleb commented on #334
Hi @kont61,

This is the correct way to do it. We've got on the roadmap `More hooks (events)` which will add other options for how you hook into PetaPoco.

Wade

[2016-08-22 15:15] mantoshelis opened #335 "Save without primary key"
It is possible to save objects into mysql table which does not have primary key?

[2016-08-26 05:20] pleb commented on #330
@pynej I'll look at this over the weekend ;)

[2016-08-26 05:21] pleb commented on #335
Using the `Save` API no. Using the `Insert` and `Update` API yes

[2016-08-26 05:21] #335 closed

[2016-08-26 05:21] #334 closed

[2016-08-31 01:07] howardhee opened #336 "No column name was specified for column 21 of 'peta_paged'"
I received the error message when using page query with ISNULL(Address,''). Below is my query

`var result=db.Page<User>(1, 20,"SELECT ISNULL(Address,'') As Address FROM User WHERE UserID=@0",1);`

How do I replace null with empty string in petapoco? Thanks

[2016-08-31 08:16] kpstolk opened #337 "Querying LINQ Style no overloads for primarykey"
Looking at the [docs](https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Querying-LINQ-Style), there are only overloads with `object primaryKey` for `Exists<T>`, `Single<T>` and `SingleOrDefault<T>` but not (yet?) for `FirstOrDefault<T>`?

`var person = db.FirstOrDefault<Person>(12); // The person or NULL`

Need the docs to be updated or is the overload missing in code?

[2016-09-06 08:04] 0ndrej opened #338 "ExplicitColumns attribute is not working as expected"
I have class for POCO purpose that is derived from other class with some properties. When I use ExplicitColumns on this class and mark only properties that I need for database with Column attribute, PetaPoco still try to use properties from inherited class. How to avoid this behavior?

[2016-09-07 09:59] 0ndrej commented on #326
I have another issue with parameters.
[code]
If I call `SelectEmployeePermissions(employeeId:=1)`, resulting SQL is ```
SELECT *
FROM Security.EmployeePermissions
WHERE (Id IS NOT NULL)
AND EmployeeId = @0
[code]

[2016-09-07 12:30] pleb commented on #326
You don't get to see the parameter values. These are sent along with the sql to the server. The server puts it together

[2016-09-12 02:06] maxtoroq opened #339 "Get POCO object from IDataReader"
I want PetaPoco to give me an object for the current row of an `IDataReader`. That is:

[code]

Is it possible?

[2016-09-12 02:50] pleb commented on #339
Using PetaPoco as it stands, no

[2016-09-12 02:50] #339 closed

[2016-09-12 10:51] chris64digital opened #340 "Multiple Pocos with same field but different types cause conversion error"
Consider the following 2 pocos:

 ` [TableName("UserRoles")]
    public class UserRole
	{
        [Key]
        public int id { get; set; }
        public int roleId { get; set; }
        public string userId { get; set; }
        [ResultColumn]
        public User user { get; set; }
    }`

` [TableName("Users")]
    public class User
	{
        public string id { get; set; }
        public strin

[2016-09-21 10:29] MHaendel commented on #297
Got the same issue.

[2016-09-27 19:23] stanleyipc opened #342 "The class name created is different of database table name."
Hi guys,

I have inspected entire the internet searching the solution, but nothing of answers. My problem is the change of class name. I'll explain, look below:

_This is my table_
![tablename](https://cloud.githubusercontent.com/assets/20667839/18888036/11b3cf04-84cd-11e6-9f4a-3d0c7ed9084b.jpg)

When I run "Database.tt" is create this:
![classpoco](https://cloud.githubusercontent.com/assets/20667

[2016-09-27 21:44] MB34 commented on #158
cjpit, would love to see your solution. I have a LOT of functions that return ref cursors and if I don't find a solution, I have to rewrite all of them to pipeline the data.

[2016-09-27 23:31] pleb commented on #342
You could try

1. Edit the PetaPoco.Core.ttinclude file
2. Update the MySqlSchemaReader class (approx line 1053)
2.1 Change a line in this class `tbl.ClassName=Inflector.MakeSingular(tbl.CleanName);` to be tbl.ClassName=tbl.CleanName;`
3. The rerune the TT file

[2016-09-28 03:21] cjpit commented on #158
We transitioned to npoco, but I think this is what you are looking for. - These need to be set up as new interfaces for IDatabase

`
public IDbCommand CreateRefCursorCommand(IDbConnection connection, string sql, params object[] args)
        {
            // Perform parameter prefix replacements
            if (_paramPrefix != "@")
                sql = ParameterHelper.rxParamsPrefix.Replace(sql,

[2016-09-28 14:31] MB34 commented on #158
We are actually calling a function vs. a procedure and after posting this, I found that I could do it like this to return the cursor by using an Out parameter:
`public List<DuesInfoResponse> GetDuesInfo(int PID, string Designation)
{
    List<DuesInfoResponse> ret = new List<DuesInfoResponse>();
    var result = new OracleParameter
    {
        ParameterName = "RESULT",
        Direction = System

[2016-09-28 15:16] stanleyipc commented on #342
@pleb Thanks my friend. Your reply solved the problem. :+1:

Maybe, change the project for include a option for this.

Something like this:

_PetaPoco.Core.ttinclude file:_
![petasolu2](https://cloud.githubusercontent.com/assets/20667839/18918905/9f18962c-8572-11e6-960e-4dbeb6bcfe9b.png)
In all method "ReadSchema" a condition
![petasolu1](https://cloud.githubusercontent.com/assets/20667839/1891891

[2016-09-29 03:58] cjpit commented on #158
yep although its a fair bit of extra code each time you have to do it :/ all that sql is kinda hard to read.  With solution above, then it becomes something like var result  =  _db.RefCursorQuery<someobjecttype>("QC_GL_PKG.GET_GLB_BY_SYSCM", 1, "JRNL")

[2016-09-29 14:21] MB34 commented on #158
How did you include the above code in your PetaPoco source? When I add it to my PetaPoco.cs file I get all kinds of errors.

[2016-09-29 14:56] MB34 commented on #158
I finally got it working, however, your code creates a ReturnValue OUT parameter when the function that RETURNS a RefCursor actually doesn't have one and I get a "not all variables bound" error.
Would you mind posting the definition to your `QC_GL_PKG.GET_GLB_BY_SYSCM` function or procedure?

[2016-09-29 14:57] MB34 commented on #158
This is the function I'm calling:
[code]
like this:
[code]

[2016-10-04 12:14] #342 closed

[2016-10-07 16:31] MB34 opened #343 "Error with Database.tt->Database.cs"
After upgrading to 5.1.228 and/or running the custom tool on Database.tt to produce Database.cs, I get 50 errors ranging from
`"{ expected" on Line: 43`
to
`"The name '_instance' does not exist in the current context" on Line:87`

How can I get this file generated without these errors?

Line 43:
`    public partial class Settings.OracleDB : Database`

This is all the errors I get just on that line

[2016-10-07 16:47] MB34 commented on #343
It was because I had my ConnectionString names Settings.Oracle. Would this be considered a bug?

[2016-10-07 16:47] #343 closed

[2016-10-07 16:50] MB34 opened #344 "T4 Template compiler version"
Wondering when this will be fixed from all PetaPoco T4 templates:
`The C# 2.0 and C# 3.5 compilers are no longer supported. Templates will always be compiled with the version 4 compiler instead of 'v3.5' as specified.`

[2016-10-16 02:56] cn181 opened #345 "When can support .Net core?"
When can support .Net core?

[2016-10-16 23:15] pleb commented on #345
When somebody takes the time to update PP to support it.

[2016-10-16 23:15] #345 closed

[2016-10-18 03:06] xLabel opened #346 "PetaPoco can running .net core?"
.NET CORE is cross-platform Framework . Is   PetaPoco  will support this ?

[2016-10-18 04:11] pleb commented on #346
Support for .net core would be awesome. However, it requires somebody to put the time and effort into porting it. Unfortunately, I do personally don't have the time at the moment.

[2016-10-18 21:20] ChangePlaces opened #347 "sqlite requires System.Data.SQLite, doesn't play nicely with SQLite PCL"
When just the SQLite PCL nuget package is installed, petapoco refuses to create a connection, insisting that the db provider doesn't exist. Maybe instead of hardcoding System.Data.SQLite in the code, it could attempt to create a `new SQLite("path");` ?

[2016-10-30 07:32] TrevorWesterdahl opened #348 "T4 Templates Value Converter for Connection String"
I know its very common to use one of multiple options to encrypt/decrypt web.config file sections but the majority of these options involve built-in specifics related to the machine or user account. Each of these options has many gotchas and/or vulnerabilities.

I find it much more preferable to use my own solution where the value (I.e. connection string) is already encrypted and I reference my ow

[2016-10-30 07:37] TrevorWesterdahl commented on #340
Just curious why anyone would use string values for IDs? maybe I am missing something, but that seems odd. I do recognize that its common to use GUIDs... does this impact GUIDs too?

[2016-10-31 05:39] pleb commented on #348
If you can work out a way to do this with a T4 template - PR please.

Keep in mind

1. It would need to be backwards compatible. No regression.
2. There would need to be documentation written and supplied so it can be added to the wiki.

[2016-10-31 08:08] chris64digital commented on #340
These are actually guids but I have only been able to get it working by telling petapoco that they are strings. If there is an alternative way to use guids then i'd be interested to implement it.

[2016-10-31 08:52] xLabel commented on #346
thx reply!

[2016-10-31 16:51] fabianabela opened #349 "PetaPoco Paging not working correctly"
Hi Everyone,

I am using PetaPoco (the one that ships with Umbraco) and have a scenario where I have paging, thus I decided to make use of the Page method. The issue is that it is not working correctly at all.

I have done some debugging and noticed that with a very simple query, like for example:

SELECT *
FROM property
WHERE City='New York'

it works ok but then as you feed a little bit of a mor

[2016-11-01 00:12] pleb commented on #349
`JOIN images ON images.PropertyId = property.ID` I bet this is causes the extra return rows. Do you have any records where there is more than 1 image per property?

[2016-11-01 00:13] pleb commented on #340
You should be able to `public Guid id { get; set; }` no?

[2016-11-01 10:50] fabianabela commented on #349
@pleb of course there are records where there is more than 1 image per property, but that is where the Group by comes in, I am basically grouping the results with the property id so that only 1 record per property is returned, thus I will have no duplicate properties. Basically then in the select statement of my actual query I am concatenating all the image file names in one string, but I have lef

[2016-11-02 00:17] pleb commented on #349
Ah sorry. I missed the group by. 😞

I think I know where it could be going wrong. The query is altered by PP to support paging, with the alternation specific to the underlying DB. Based on the leniency of the GROUP BY I'm going to guess MySQL?

If you're using the non-compiled version. Add a breakpoint at the end of the `private void BuildPageQueries<T>(long skip, long take, string sql, ref object

[2016-11-04 09:56] 0ndrej commented on #338
Do you need some additional informations for fixing this behavior?

[2016-11-09 12:47] fabianabela commented on #349
@pleb yes it is MySQL, I have done as you instructed and this is the query that was being produced:

SELECT COUNT(*)
FROM property
INNER JOIN images ON images.PropertyId=property.IntegratorPropertyID
WHERE (City='Zejtun')
GROUP BY property.IntegratorPropertyID

Now the issue with such query is that it returns the count for every group and not the total number of rows returned. That is why the Tota

[2016-11-12 16:03] mika76 commented on #346
If it doesn't work on core then how come there is a core nuget for it?

[2016-11-12 21:27] pleb commented on #346
There shouldn't be a nuget. Do you have a link?

Sent from my iPhone

[2016-11-12 21:44] mika76 commented on #346
I wrongly assumed the petapoco.core meant.net core :-)

[2016-11-13 13:41] stanac commented on #346
there is a nuget for some .net core fork https://www.nuget.org/packages/PetaPoco.NetCore/ but readme is half-written in kanji https://github.com/qingask/PetaPoco.NetCore

[2016-11-18 11:45] gbmDev opened #350 "Any plans for a cache system?"
Hi,

I have been using petapoco for a few years. I even thought the project was dead but to my surprise I saw that he is more alive than ever. Thank you.

I wonder if there are any plans for a petapoco cache system? Would it be feasible?

[2016-11-18 14:12] shawngang commented on #350
learn more ..like it....also dapper

[2016-11-22 05:00] longhaijun commented on #259
hello pleb
do have any plan to release for composite keys support in next time?

[2016-11-25 06:43] darko1979 opened #351 "T4 template GetConnectionString to return connection string from another project"
I have a solution with multiple projects: MainApp, Common and Service (Common is a library shared by MainApp and Service). ConnectionString is located in web.config in Service project. I wanted to have PetaPoco models in Common library project but current T4 template cannot read config's from another projects so I created alternative GetConnectionString2 that searches through all config's in all p

[2016-11-28 00:25] pleb commented on #350
@gbmDev can you explain a little more how the cache system would work?

[2016-11-28 00:26] pleb commented on #259
@longhaijun there's a branch with some work towards composite keys. @pynej has contributed all of the code to this branch. However, I think we're still missing integration tests. I've been super busy this year and haven't had much time to work on PP. Maybe next year will be better for me.

If you're keen, maybe ping @pynej to see if you can't help with getting this ready for release. See #330

[2016-11-29 15:15] ruant opened #352 "How to set field as nullable?"
I'm having issues with setting some fields to allow null.
Maybe my google foo has withered and died because I can't find any information how to do this.

My setup is:
[code]

Database created:
[code]

[2016-11-30 11:31] Waleed-Iqbal opened #353 "Exception while executing script containing variables (@variable1) and cursor (@@FETCH_STATUS)"
I have a lot of scripts that contain variables like `@variable1` and cursors like `@@FETCH_STATUS` and I trying to execute them using PetaPoco.
I don't want to escape all variables and cursors (like `@@variable1` and `@@@FETCH_STATUS` respectively) in all of my scripts. Does PetaPoco provide some way to execute such scripts without escaping them?

[2016-12-01 18:17] diegodfsd commented on #258
Hello everyone! Just now I stopped to solve this problem and it is easiest than I thought. The Database class have some extension points and one of that is the OnException virtual method.
Besides, there are others two methods OnExecutingCommand and OnExecutedCommand and you can use to debug your queries.

[2016-12-15 22:11] missaghi opened #354 "PostGreSqlSchemaReader fails if two tables with the same name exists in multiple schemas in the same database"
It tried to do a SingleOrDefault on the columns to find the PK but if I have a table in both schemas with the aame column name then the Sequence has multiple elements.

const string COLUMN_SQL=@"
			SELECT column_name, is_nullable, udt_name, column_default
			FROM information_schema.columns
			WHERE table_name=@tableName
			";

I've solved this by filtering additionally by table_schema eg:  "and t

[2016-12-19 10:44] mark64digital opened #355 "Wrong property names when using QueryMultiple with dynamic types"
When using QueryMultiple with dynamic types and the select queries have the same number of columns the second result set uses the same property names as the first but the correct data.

PetaPoco.Core 5.1.228

using (var results = db.QueryMultiple(@"

    SELECT id, name, email
    FROM customers

    SELECT id, customerId, address
    FROM addresses

"))
{
    var customers = results.Read<dynamic>

[2016-12-21 09:55] zhengyangyong commented on #347
yes,also think need support t4 template db first,auto gen poco class

[2016-12-22 07:23] #327 closed

[2016-12-22 07:24] #322 closed

[2016-12-22 07:29] newyhj opened #356 "a long time didn't update"
petapco will continue to be updated?I am a loyal fans

[2017-01-02 06:37] pleb commented on #356
Yes, it will continue to be updated. However, updates, for the moment, need to come from the community due to how busy I am at the moment. I'm happy to look at any PR

[2017-01-02 06:40] pleb commented on #354
A PR would be great. There's also integration tests for all the support DBs. Could you please add one to prove it's broken and it's fixed.

[2017-01-02 06:42] pleb commented on #353
Sounds like an issue with the underlying provider. I think I've come across this before with MySQL. What DB are you using out of interest?

[2017-01-02 06:43] pleb commented on #352
Setting DB column values to null is supported. There are integration tests for this. You'll need to provide more info or for a quicker answer hit up SO.

[2017-01-02 10:41] ruant commented on #352
Ok.
I tried a few different things but I was never able to get it to create it exactly how I wanted it to be.

Since the project is being built ontop of Umbraco I ended up creating the table through the Umbraco migrations instead, that way I can handcraft the table and have a exact record of the changes as well.

Thanks for replying tho 👍

[2017-01-02 10:41] #352 closed

[2017-01-04 02:10] garmiter opened #357 "When I write data using multithreading, can appear the following questions."
Hello everyone.I met a problem how to solve? Is invoked when the lock?
When I write data using multithreading, can appear the following questions:
1, the connection timeout.
2, open the database connection did not shut down.
An error code is as follows:
`public int Execute(string sql, params object[] args)
        {
            try
            {
                OpenSharedConnection();

[2017-01-04 09:20] pleb commented on #357
Make sure you're using a new instance per thread.

Make sure you're not trying to execute an additional call while iterating a query (open reader) result. Instead, use fetch (results are fetched from the reader and reader is closed).

[2017-01-06 08:21] garmiter commented on #357
Multiple threads at the same table writing data, before I call the method that it added a lock, no problem.

[2017-01-09 16:46] FabioParigi opened #360 "Business Layer in Petapoco"
Hi Dears
I think to start develop a new web app and use Petapoco for the Data Layer and a part of Business Layer can you suggest me if there are best practice for structure Data, Business and Service Layer?

thanks a lot
Fabio

[2017-01-11 08:37] polamin opened #361 "T4 template stops generating in double Primary Key column MySql"
I'm working on another programmer database and he has some table that has more than one Primary Key, I don't know why he did something like this but it makes t4 stops generating in that table

[2017-01-11 09:07] #361 closed

[2017-01-13 07:20] MhmmdAb opened #362 "T4 template doesn't work if transformed using the TextTransform Utility"
I have a project where I would like to have the T4 template automatically regenerate on each build. The best, most hassle-free solution I could find was [Clarius.TransformOnBuild](https://www.nuget.org/packages/Clarius.TransformOnBuild/) NuGet package.

But I was unable to use it with PetaPoco because the T4 template depend on the presence of the `EndDTE.Project` objects during transformation, whi

[2017-01-13 09:42] maniish commented on #355
This is true. We are also facing the same issue and it would be great if it resolved asap.

[2017-01-13 09:45] VickyMahir commented on #355
We are also facing same issue.

[2017-01-18 16:45] cezarlamann opened #363 "Is there a way to disable "dynamic"/"expando" types to make PetaPoco .NET 3.5 retrocompatible at compile time?"
Hi all.

I want to use PetaPoco on a "non-upgradeable" (stakeholder restriction)  .NET 3.5 project. I won't use dynamic/expando types, so the question: Is there a way to disable "dynamic"/"expando" types to make PetaPoco .NET 3.5 compatible at compile time?

If not, which is the latest version where this kind of "workaround" is possible?

Thank you in advance.

[2017-01-19 02:05] mikemike396 opened #364 "Is Medium Trust Fully Supported?"
I see this PR (https://github.com/CollaboratingPlatypus/PetaPoco/pull/149). That was 1 year ago. Does the library currently run in medium trust? We are looking to move from EntityFramework in our shared sever that is medium trust forced.

Thanks

[2017-01-19 04:12] pleb commented on #364
Hi @mikemike396, No, sorry medium trust is not supported.

[2017-01-19 04:12] #364 closed

[2017-01-19 04:14] pleb commented on #363
I would suggest you get the single file version. Add it to the legacy project and cut out the bits which you can't use

[2017-01-19 04:14] #363 closed

[2017-01-19 04:15] pleb commented on #362
Hi @MhmmdAb, yeah I'm not sure. Open and PR if you think it's worth it ;)

[2017-01-19 04:16] pleb commented on #360
Hi @FabioParigi, I'm sure this has been asked a million times on the net. Maybe try SO.

[2017-01-19 04:16] #360 closed

[2017-01-19 04:17] pleb commented on #357
@garmiter you want to use an instance per thread

[2017-01-19 04:17] #357 closed

[2017-01-19 04:17] #356 closed

[2017-01-19 05:50] MhmmdAb commented on #362
Done!

[2017-01-19 12:18] FabioParigi commented on #360
@pleb
Thanks for your reply... I google a lot looking for best practice and support docs for create a Data layer structure based on Petapoco but I don't find nothing...
Fabio

[2017-01-19 13:22] picasso566 commented on #360
Using PetaPoco in the data layer is the same as using any other ORM tool in the data layer. If you understand any other library, such as Entity Framework, it's the same thing. Just create a DAL Project in your solution (Petapoco will need it's own connection string in that project to generate the POCOs) and run the templates. The BLL and Main project will have a dependency on the DAL project and a

[2017-01-19 16:44] cezarlamann commented on #363
Ok, I'm trying to do that. I solved the tuple issue, but two things are remaining in my little "downgrading journey":

On `GetFactory(string sql, string connectionString, int firstColumn, int countColumns, IDataReader reader, IMapper defaultMapper)` method we have this code excerpt:

[code]

How could I change this dependency of `System.Dynamic.ExpandoObject` in this method?

Thank you in advance.

[2017-01-19 17:09] cezarlamann commented on #363
I found in [this](https://github.com/CollaboratingPlatypus/PetaPoco/commit/cb6a8258c69fb82a5141193a75d3cf0705dd97f3) commit, where the code I asked about is circled with `#if !PETAPOCO_NO_DYNAMIC`. If I remove this "if" member, will PetaPoco still capable of working with typed (non-dynamic) properties even if they are non-primitive types?

[2017-02-02 20:56] missaghi commented on #354
The integration tests don't seemt o be for the T4 template that I modified. Should I just create a test that mimics the T4 code that threw the error? For now i've submitted a pull request with the fix and some sample SQL for a test: https://github.com/CollaboratingPlatypus/PetaPoco/pull/366

[2017-02-02 23:43] Feijo opened #367 "Operation could destabilize the runtime"
I am trying to use Petapoco's multi-poco query with PostgreSQL.

The code works fine on my local machine running .NET 4.6.1 but throws System.Security.VerificationException when deployed to the hosting I am using which is running .NET 4.5.

[code]

[code]

Exception is being thrown at [Database.cs:2253](https://github.com/CollaboratingPlatypus/PetaPoco/blob/development/PetaPoco/Database.cs)

Origi

[2017-02-03 18:51] #362 closed

[2017-02-05 22:54] pleb commented on #367
Is the hosting environment set to medium trust?

[2017-02-08 09:09] Guy--L opened #368 "T4 Templates don't work in asp.net core"
I've tried to adjust things but have not had any success with asp.net core, vs2017 rc3.

Is there a plan?

[2017-02-12 22:59] pleb commented on #368
I would love to port PetaPoco to .net core, and hopefully one day I will, however, it comes down to time.

In the .net core world, the T4 schema generation would be replaced with the a new tool which would be added to the tools section of the project file. See [tools](https://docs.microsoft.com/en-au/dotnet/articles/core/tools/project-json#tools)

[2017-02-13 00:07] Guy--L commented on #368
I see some posts at large regarding code generation for .net core.  It sounds like you have a clear idea of your approach given the time.  I have some time if you're willing to outline the approach.

[2017-02-14 19:35] arielcon opened #369 "Can't query multiple joins to the same type"
I have exactly this problem: (http://stackoverflow.com/questions/11416019/multiple-joins-to-the-same-type-in-petapoco)

Bug seems to be here : [MultiPocoFactory.cs line 53](https://github.com/CollaboratingPlatypus/PetaPoco/blob/23a34d49b0c0ab74d04286174d8da9a1e1dc26b1/PetaPoco/Core/MultiPocoFactory.cs#L53)

As the code says, feature it's not supported yet. Any suggestion or workaround ?
Thanks

[2017-02-20 19:50] hfakouri opened #370 "Incorrect AutoIncrement for GUID typed PK"
I have a table which has a PK of type GUID and its IsIdentity has been set to **false** but PetaPoco consider it as true! and I'm getting this exception:

I'm using PetaPoco 5.1.228

[2017-02-22 09:58] VickyMahir commented on #355
I have found there is performance issue with QueryMultiple.

When we have data size is 12.1 KB then its take 25 to 27 second to fetch.

I think this cause because of dynamic data structure.

So please check performance for this.

Thanks,
Vijay M

[2017-02-24 14:53] matthewsheeran commented on #294
I am about to add this for myself (slicing PetaPoco in to replace my own code) starting by copying the PetaPoco SqlServerDatabaseProvider and renaming to OdbcDatabaseProvider for now (using "System.Data.Odbc.OdbcFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"). :-)
I need to add GetSchema(...) support already to filter lists of tables, databases etc and in

[2017-02-24 15:12] matthewsheeran commented on #294
As you now it is actually more complicated than that - and proably why @masasih got short shrift - as you need to have an open connection to do the GetSchemas - but as I have the PetaPoco.cs source and settled up it afetr much research and reflection (pardon the pun - one can always override the OdbcDatabaseProvider for different databases at connection time even if one had to use reflection to do

[2017-02-25 03:02] matthewsheeran commented on #294
Its happening man its happening: it trusn out there are two IProvider Resolve(...)'s additions required.
If I use new Database(this.Connection) then I have to do a this.Connection.Open()/Close()'s before the OpenSharedConnection()/CloseSharedConnection()'s but if i use new Database(this.ConnectionString, this.InvariantName) then I only need to use the latters.
I can start replacing the code in my

[2017-02-28 01:15] pleb commented on #369
@arielcon sorry. I'm not too sure of the inner works on MultiPoco. I don't use it myself and haven't had to dive in deep from a dev perspective.

[2017-02-28 01:17] pleb commented on #370
@hfakouri Could you provide sample code to reproduce this. I'll add it as an integration test

[2017-03-01 10:31] matthewsheeran opened #373 "Incorrect internal on ExecuteScalarHelper(IDbCommand cmd) for Custom DatabaseProvider's external to source"
What is the chance of getting the "internal" scope of ExecuteScalarHelper(IDbCommand cmd) changed to a "public" for re-use by a Custom DatabaseProvider's (I just copied and renamed SqlServerDatabaseProvider as a template to start) using the PetaPoco.Core.Compiled binary rather than of PetaPoco.Core PetaPoco.cs source.

I think it would be nice to be able to have and use Custom DatabaseProvider's a

[2017-03-01 10:54] pleb commented on #373
Are you extending? Happy for those internals to become protected virtual

[2017-03-03 19:59] hfakouri commented on #370
Create a table in SQL Server and name it Customers. Add a column and name it CustomerCode ([uniqueidentifier] NOT NULL) and set its IsIdentity = false.

Now use T4 templates for generating Database.cs

Generated code would be like this:
`   [TableName("dbo.Customers")]
    [PrimaryKey("CustomerCode")]
    [ExplicitColumns]
    public partial class Customers : XXXDB.Record<Customers>
    {
		[Colum

[2017-03-06 17:56] matthewsheeran commented on #373
Extending with a custom ODBC Provider is the idea though I can't quite make up my mind whether to subclass or not but that is a requirement for the above.

When SqlServerDatabaseProvider as my template for  SQL Server overr ODBC - or as is more likely another database like Postgres - doesn't work I will get back to it.  The only other Db right now is SQLite (actually SpatiaLite) using System.Data.

[2017-03-06 17:56] #373 closed

[2017-03-14 14:54] ishbara opened #375 "Converter factory behaves abnormally in a highly concurrent application."
We have been using PetaPoco in our production system; which is a highly concurrent IIS application serving hundreds of requests per second in multiple servers. Our applications are restarted daily for maintenance.

We have been experiencing some strange behaviour for a while after those restarts. One of the servers starts throwing either **InvalidCastException** or **IndexOutOfRangeException** whi

[2017-03-19 17:30] matthewsheeran commented on #294
I hit this (the Parameter Substitution Problem): https://github.com/CollaboratingPlatypus/PetaPoco/pull/166
So any tips would be apreciated..

[2017-03-21 06:01] zhuangke opened #377 "group by sqlcount"
`Sql sql = new Sql("select IndexArr,Days,Max(CreatedDate) as CreatedDate from CombineIndexStatistics(nolock)");

 sql.GroupBy("IndexArr", "Days");
sql.OrderBy("Max(CreatedDate) desc");

var pageList = BigData_PetaPOCO.GetInstance().Page<CombineIndexStatistic>(pageIndex, 100, sql);`

The SqlCount is
`select COUNT(*) from CombineIndexStatistics(nolock) GROUP BY IndexArr, Days`

but it's wrong
I want

[2017-03-21 07:46] matthewsheeran opened #378 "Any tips on how to go about changing @0.. Parameters to ? for ODBC support"
Any tips on how to go about changing @0.. Parameters to ? for ODBC support.
I doubt however that the requisite members are public so will have to hack my PetaPoco.cs.
I have just hacked my Exists and have to do the same and replace Update and Insert with ExecuteUpdate and ExecuteInserts with custom coded and pre string formatted where clauses or in this case update and insert queries.

Fortunately

[2017-03-21 09:03] pleb commented on #377
The logic to turn a select into a count query doesn't always get it right. My advice would be to use one of the overloads which allows you to pass the count query in.

`Page<T> Page<T>(long page, long itemsPerPage, string sqlCount, object[] countArgs, string sqlPage, object[] pageArgs);`

or

`Page<T> Page<T>(long page, long itemsPerPage, Sql sqlCount, Sql sqlPage);`

[2017-03-21 09:05] pleb commented on #378
@matthewsheeran off the top of my head, the easiest way would be to roll your own `DatabaseProvider`. You would then need to override `GetParameterPrefix(string connectionString)` and simply return `return "?";`

[2017-03-21 09:19] pleb commented on #294
@matthewsheeran you sound like an interesting fellow. I like it. When you have it working, sounds like you will get there, let's talk PRs ;)

[2017-03-21 11:51] matthewsheeran commented on #378
Ok I will definatlet look into it shortly as I definately need to progress this one over the medium term.
For now: for my one and only first data table type class I am juts adding UpdateSql and InsertSql in addiiton to my CreateTableSql for the tabelname and data table type class using Execute(..Sql(tablename)) then I will be looking into this further..

PetaPoco was the only micro-ORM that even r

[2017-03-25 11:01] matthewsheeran commented on #378
Baby steps OK:
1. Did the:
  "@"s => "?"s
2 . Then found EnableNamedParams which when set to false changes the:
  "@name"s.. => "?0".."?n"s
Now I need to get rid of the numbers since ODBC only accepts ?'s plus parameters in order though I am guessing and hoping that the correct ordering is likely to be the case in most of the PetaPoco code anyway.
3. It looks like from searches for matches like:

[2017-03-25 20:24] matthewsheeran commented on #378
I have it working for ODBC "?" but have issues with using a TEXT - the WHERE PKName=PKValue doesnt wok with SQL Server - or actually a VARCHAR(n) PK column with Save() which should then be PKName='PKValue' as I have working in my own code from when I hit the "@name"|"@0.." vs "?" ODBC difference.  I have to look further and confirm..
0. I could use INT ID columns and existing Save() but prefer not

[2017-03-25 22:24] matthewsheeran commented on #378
I verified and fixed the singles quotes around PK string values so the above is accurate. Exists doesn't work but my replacement does.  But what puzzles me are dynamic Fetch() and Update() which works just fine but Insert() throws a custom Exception of unsupported: when I can't see why if you can Update() that you shouldn't also be able to Insert() ExpandoObjects too?
I guess I have dig deep enoug

[2017-03-26 10:48] matthewsheeran commented on #378
I have it done tested now for SqlServer and ODBC connections to same using a new EnableNumberedParams = true (default) along with the original EnableNamedParams = true (default) (along with the two tweaks in ExecuteUpdate for:
if (primaryKeyValue.GetType() != typeof(string))
            use "UPDATE {0} SET {1} WHERE {2} = {3}{4}"
            else "UPDATE {0} SET {1} WHERE {2} = '{3}{4}'"
I just ha

[2017-03-27 05:30] matthewsheeran commented on #378
I'll leave you to close the ticket pleb/Wade as the good news is that my task is done for now: if had chosen any other micro ORM or indeed ORM platform I have no absolutely doubt whatsoever that I would indeed still be working on it!
Cheers,
Matthew

[2017-03-27 12:03] picasso566 opened #380 "Hook into Insert/Update on specific POCOs"
I'm just in the planning stages on a project and a requirement is to save a copy (in an almost duplicate table) of any changes to specific records.

I was thinking that I may hook into the Insert/Update methods to also save the same data into another POCO. Looking at the code I'm not sure what the best approach is for raising and event / subscribing to an observable / etc...

I thought I would ask

[2017-04-04 22:11] cacciatc opened #381 "PetaPoco no longer recognizes class attributes."
Specifically the table name. This was formerly working with the same code, so perhaps it is a configuration issue? I have multiple projects in a solution which all use PetaPoco.

Here is an example of the one of the classes, but PetaPoco still uses **RelevanceScore** as the table name.
[code]

[2017-04-04 22:23] cacciatc commented on #381
I do believe that is is due to having multiple projects all using PetaPoco in the same solution ala:
http://stackoverflow.com/questions/11510703/unable-to-get-attributes-back-from-getcustomattributes

If I includes the files from the various projects into just one project, then the following finds the correct attribute:
https://github.com/CollaboratingPlatypus/PetaPoco/blob/23a34d49b0c0ab74d042861

[2017-04-14 11:29] bhattjidotcom opened #383 "Setting the TableNameAttribute in Constructor"
I am using PetaPOCO with DotNetNuke Modules.

As you are aware, DNN passes a parameter objectQualifier . i.e. we need to prefix that parameter at runtime, to the tablename

Currently I have to pass the tablename parameter, every time I use any Insert, Update or Delete method. However, it would be great, if we can set the TableNameAttribute in constructor itself, so that there are no chance of erro

[2017-04-16 18:31] QuAzI opened #384 "Using PetaPoco for logging"
I use PetaPoco for write logs into database.

[code]
Sometimes MySQL raise exception
`Authentication to host '127.0.0.1' for user 'root' using method 'mysql_native_password' failed with message: Reading from the stream has failed.`

![2017-04-16_19-58-32_f1ah7mbh](https://cloud.githubusercontent.com/assets/1897605/25073259/819b26d4-22eb-11e7-9403-019ae7c70ec9.png)

Now I try to optimise logging. H

[2017-04-17 05:17] pleb commented on #381
Maybe `Complied` would suit you better - https://www.nuget.org/packages/PetaPoco.Core.Compiled

If you're using the T4 templates, you could make a copy of them, delete the single file PP, and use the compiled

[2017-04-17 05:24] pleb commented on #384
1) MySQL connection bug

That looks to be related to the MySQL ado component and not PP. I would suggest seeing if this bug is reported, fixed, or etc.

2) Insert `SELECT @@IDENTITY`

If you don't ever query for this entity, simply drop the PrimaryKey and PetaPoco will behave as you want it to.

Otherwise, you could try a two entity approach

[code]

[2017-04-17 09:07] QuAzI commented on #383
Looks like it is dbprefix in other CMS. As example "oc_" for OpenCart. This feaure is required because without it we must write any time crazy queries like
[code]
and use string.Replace() to fill all fields instead use ORM.
Also table can exist or have different fields depending on the version.
At best variant need
1) some exceptions safe fabric which can use 'DESCRIBE {dbprefix}table' to fill str

[2017-04-17 09:15] QuAzI opened #385 "Use PetaPoco with HTTP tunnel"
In some projects we use HTTP tunnel (PHP script) to use DB in LAMP.
Is any workaround exist for use PetaPoco in this case? Custom database provider sample exist or maybe we can take prepared SQL query without execution for use later like in next sample
[code]

[2017-05-03 12:37] yarecky1 opened #387 "Problem with inserting DATE field in Sql.Builder"
When I create SQL query with condition:
[code]
like
[code]
it transform to SQL like below (using LastCommand) and entire query returns proper result
[code]
However if I write
[code]
I receive
[code]
and this query raises exception (see below).
Of course this properly hardcoded version (without argument) also works:
[code]
but this hardcoded version with single quotes around date and with zeros in

[2017-05-03 23:08] pleb commented on #387
Is `P.[date]` a string? If so, you will need to `.ToString()` your date before adding it as a param

[2017-05-04 00:09] pleb commented on #380
@picasso566 Maybe you could create a wrapper for PetaPoco and intercept any method call you like?

[2017-05-04 00:17] pleb commented on #380
Hmm 🤔

What are your thoughts on making

    private object ExecuteInsert(string tableName, string primaryKeyName, bool autoIncrement, object poco)

    private int ExecuteUpdate(string tableName, string primaryKeyName, object poco, object primaryKeyValue, IEnumerable<string> columns)

protected virtual?

    protected virtual object ExecuteInsert(string tableName, string primaryKeyName, bool auto

[2017-05-04 00:18] pleb commented on #385
@QuAzI I can't really help you with this. Maybe try SO

[2017-05-04 00:18] #385 closed

[2017-05-04 00:19] #384 closed

[2017-05-04 00:19] #383 closed

[2017-05-04 00:20] #381 closed

[2017-05-04 00:20] #378 closed

[2017-05-04 00:20] #377 closed

[2017-05-04 00:21] #369 closed

[2017-05-04 00:21] #367 closed

[2017-05-04 00:28] picasso566 commented on #380
Thank you for your help on this. I will certainly consider it.

I was thinking I might use it for logging purposes and there might be as
better was to go on the sql side. But this may also work.

Paul

On May 4, 2017 09:17, "Wade Baglin" <notifications@github.com> wrote:

Hmm 🤔

What are your thoughts on making

private object ExecuteInsert(string tableName, string primaryKeyName,
bool autoIncreme

[2017-05-04 07:34] yarecky1 commented on #387
Yes, field is a date, no special format.

For simplicty I created fresh new table called pocodateissue with 6 date fields and poco insert sql command.
[code]
What I see?
[code]
Exception?
[code]
However I altered table changing all date fields into string fields and execute the same query. It executed without error. What I see in database?
[code]

[2017-05-07 00:24] picasso566 commented on #346
Has there been any progress on this? I keep thinking I would work on the templates when I had some free time, which has not happened.

Also, Is there a port already in progress I could help with?

[2017-05-07 08:03] AlbertoCe commented on #255
Hello, the same problem is present on the SplitSQL method of PagingHelper class.
Should it be fixed there too ?

[2017-05-08 14:46] lucho07 opened #389 "petapoco is making hops of the id in insert."
have you fixed the bug when inserting with autonumeric identities?? In some random cases petapoco is making hops of the id.
for example... from id 99 to 1001
The version i use is 5.0.1.

My code:

public bool Agregar(bancos o)
        {
            try
            {
                o.activo = true;
                o.ts = DateTime.Now;
                _oDb.Insert("bancos", "id", true, o);

[2017-05-09 09:20] pleb commented on #389
@lucho07 this is not an issue with PetaPoco. It's an issue with the DB server. See http://stackoverflow.com/questions/14146148/identity-increment-is-jumping-in-sql-server-database

FYI, if you google around, there's a way to disable it.

[2017-05-09 09:20] #389 closed

[2017-05-09 09:29] pleb commented on #387
Hmm. Ok. Seems like maybe PetaPoco is converting the datetime to a string.

Some of the integration tests use a datetime [here](https://github.com/CollaboratingPlatypus/PetaPoco/blob/development/PetaPoco.Tests.Integration/Databases/BaseInsertTests.cs), so it's looking more likely to not be an issue with PetaPoco (not ruling that out though).

Check to make sure there's not a mapping for DateTime t

[2017-05-09 09:31] pleb commented on #255
@AlbertoCe did you want to submit a PR?

[2017-05-09 09:37] AlbertoCe commented on #255
Ok, I'll do a PR as soon as possible (today or tomorrow). I found that SplitSQL and BuildPageQuery methods needs to be slightly modified or, for complex queries, they could became very very slow.

[2017-05-09 17:01] yarecky1 commented on #387
[code]
[code]
Still the same exception.
If in `Poco` class I leave `Property DateTimeField As Date` but in database I change the field from `Date` to `String` query works inserting values `2017-05-09 18:57:34.649504900`

Mappers._mappers gives me:
[code]
I don't know how I can see private properties.
As you also see I again created minimal example completely from scratch so for sure there is no ma

[2017-05-10 02:11] picasso566 opened #392 "Nuget Update to Version 5.1.251 Broke everything"
Today I upgraded from 5.1.244 to 5.1.251 and everything broke.

It overwrote the T4 templates, so I filled in the appropriate properties, but just got the Generation Error as the cs. I reverted to 5.1.244, put the same parameters back in and it generated fine. Sorry, I didn't have time to track down the actual issue or debug the T4s. Just thought I would say something.

I'm using Visual Studio 201

[2017-05-11 00:40] pleb commented on #392
@picasso566 it was probably the PR I accepted for changes to the T4 Template. Unfortunately, I wasn't ever able to figure out a way to integration test the T4 Templating feature, so it breaks somewhat often.

[2017-05-11 00:43] pleb commented on #392
My guess is something to do with this commit 7a297012d7303646c8b028261cc0a2647a4a6432

Do you know that the exact error was?

Tagging @MhmmdAb the original author of likely breaking change

[2017-05-11 18:24] Rafael-Dabrowski commented on #380
While doing this can you make "private AddParam" protected, too.
UseCase: If deriving from Database you can implement new execute functionsand use the AddParam function for robust parameter insertion.

[2017-05-12 18:57] rufio620 opened #393 "Strongname Assembly"
Is it possible to release the assembly strong named? Thanks.

[2017-05-12 19:50] t0mburton commented on #355
Hi,
I also came across this issue and found that this is due to cache key being the objects type, which is obviously the same in this scenario (System.Object) so the properties are not repopulated.
Is dynamic supported in this library as [this](https://github.com/CollaboratingPlatypus/PetaPoco/blob/development/PetaPoco/Core/PocoData.cs#L102) seems to suggest it isn't? The dynamic type does not map

[2017-05-15 00:11] pleb commented on #380
Sounds good

[2017-05-15 00:16] pleb commented on #393
Maybe in the future, but not at the moment. You try https://github.com/brutaldev/StrongNameSigner

[2017-05-15 00:16] #393 closed

[2017-05-15 00:21] pleb commented on #355
Hi @t0mburton, dynamic is supported. However, I'm not sure if it's supported everywhere. Feel free to submit a PR. There's also a project with integration tests where you can add your tests.

[2017-05-16 15:10] Shadro commented on #392
I believe I ran into this issue updating to 5.1.251 on Visual Studio Community 20015 (Update 3)

When I update to 5.1.251 I get the following:

CS0116	A namespace cannot directly contain members such as fields or methods
pointing to Line 1 of Database.cs

Reverting back to 5.1.224 resolved the error.

[2017-05-23 07:38] jokokko opened #398 "Backslashes in SQL identifiers breaks escaping & codegen outputs"
\ in SQL identifier breaks outputs from T4 templates, e.g. "tab\le" becomes unrecognized escape sequence. Should be escaped or written out as verbatim, e.g. `[TableName(@"dbo.tab\le")]`.

DatabaseProvider.EscapeTableName assumes tables to already be escaped if `tableName.IndexOf('.') >= 0` -> table names with backslashes don't get escaped (e.g. dbo.tab\le should be dbo.[tab\le] for the `SqlServerD

[2017-05-27 18:16] MohanVijayakumar opened #400 "Query error in Database.Single with EnableAutoSelect = False"
It Seems when call the DB.Single<T>(primarykey)  with  EnableAutoSelect = false Petapoco only Generates Where Part.

[2017-05-29 18:54] rufio620 commented on #393
Attempted it something is broken in the build integration. Basically the tool does not work for projects with more than a couple assemblies for some reason. [Strong Name Signer Issue 27](https://github.com/brutaldev/StrongNameSigner/issues/27)

[2017-05-30 06:26] pleb commented on #400
@MohanVijayakumar what do you think the behaviour should be under this situation? Throw?

[2017-05-30 15:18] MohanVijayakumar commented on #400
It would be great if it generates the full query
The same issue found in the petapoco fork of Npoco also
[https://github.com/schotime/NPoco/issues/183](url)

[2017-06-03 17:23] yarecky1 commented on #387
@pleb So, what's the status?

[2017-06-05 06:11] pleb commented on #387
Sorry @yarecky1 I don't have access installed. There's the `PetaPoco.Tests.Integration.x86` project which has all the integration tests for Access. If you like, try running that it make sure nothing is broken

[2017-06-05 10:07] pleb commented on #393
You could also try https://www.nuget.org/packages/Nivot.StrongNaming

[2017-06-06 20:54] rufio620 commented on #393
I was able to get the strong name signer to work by integrating a custom script action.

Just curios is there a specific reason you have not strong named this assembly or is it just a time issue?

[2017-06-22 06:22] tkouba opened #401 "Add support for column value converters"
Add attribute for custom column value converter. This is useful for storing .Net types to database, such as  `Image` as VARBINARY, `Color` as INT32. For example:

`[ImageValueConverter] public Image Icon { get; set; }`
`[ColorValueConverter] public Color ForeColor { get; set; }`

This could be done by simple modification of `ConventionMapper` default constructor and
abstract `ValueConverterAttribu

[2017-06-22 19:41] agatlin commented on #346
@picasso566 Someone else already created a package for this which I have been using. https://www.nuget.org/packages/PetaPoco.NetCore/ or on gitbub at https://github.com/qingask/PetaPoco.NetCore

[2017-06-26 03:32] DEllingsworth opened #402 "Querying LINQ Style - Update Wiki"
All the examples show a one based parameter
`result = db.Exist<Person>("WHERE Id = @1", 12); // Same as above True or False`

Should be:
`result = db.Exist<Person>("WHERE Id = @0", 12); // Same as above True or False`

[2017-06-26 04:52] pleb commented on #402
Thanks @DEllingsworth. I've fixed the docs.

[2017-06-26 04:52] #402 closed

[2017-06-29 08:43] 0ndrej commented on #259
Hi,
I am also missing composite primary key support.
Do you have any news about this feature?

[2017-07-06 10:17] krugertech opened #405 "T4 Template no longer build"
Your T4 template [PetaPoco.Core.ttinclude] contains a new line after #> which will cause it to fail as no literals are allowed outside of those brackets.

check --> PetaPoco.Core.ttinclude
remove new line at the end of the file.

[2017-07-06 11:48] pleb commented on #405
The GH source view isn't showing it. Can you PR to the dev branch?

[2017-07-07 07:25] flyliao opened #406 "Self association mapping to mysql"
For example
public class User{
    public int Id{get;set;}
    public string Name{get;set;}
    public User Parent{get;set;}
}
how to Parent to mysql ParentId?

[2017-07-14 11:53] ramseur commented on #405
I removed the line and it still doesnt work.

[2017-07-14 11:56] ramseur commented on #405
I found out that your build doesnt work in .net 4.5.2 or prob .net 4.5.  I had to downgrade to .net 4 to get it to work.

[2017-07-14 21:15] ramseur commented on #331
this is still broken in 4.5.2 .net

[2017-07-15 16:33] krugertech commented on #405
@ pleb
The issue is in the latest version of the nuget package v5.1.259.

@ramseur
I'm using .net 4.5 without issues. I did use the nuget package tho, and did not build from source.

[2017-07-18 07:55] jchurchley commented on #331
@ramseur have you tried deleting the whitespace at the end of PetaPoco.Core.ttinclude?

[2017-07-20 06:02] tkouba commented on #401
Please assign it to me.

[2017-07-26 19:30] Sjaaky commented on #405
The .tt and .ttinclude files in the PetaPoco 5.1.259 nuget package use LF line endings. After converting them to CR-LF line endings, database.cs is generated succesfully.

[2017-07-26 22:16] pleb commented on #405
Ah thanks. Any chance of a pr?

I'll also add a unit test to prevent this

Sent from my iPhone

[2017-07-27 20:42] Sjaaky commented on #405
I wasn't planning on making a PR, sorry.

[2017-07-31 07:59] staterium opened #409 "Unable to add PetPoco to project targeting MonoAndroid 7.1"
The error message states the package tried to add a reference to System.Configuraiton, which as far as I know is not available in MonoAndroid. Here is the output:

[2017-08-02 00:24] qxwei opened #410 "hello pleb ,Is there an example of the output parameters of the Mysql stored procedure?"
hello pleb ,Is there an example of the output parameters of the Mysql stored procedure?

[2017-08-02 02:31] pleb commented on #410
Sorry about of action for a little bit due to sick child.

I think this link may be help https://stackoverflow.com/questions/8612167/petapoco-and-output-parameters-from-stored-procedures

Sent from my iPhone

[2017-08-02 04:46] qxwei commented on #410
It does‘t matter, you are a good father, I will try this solution，and feedback the result later,thanks!

[2017-08-02 15:17] qxwei commented on #410
I still can't make it out，here is my code ，any help？thanks in advance
`        public Page<UserTab> getFoucsOnPage(int page, int pageSize, int userId)
        {
            Page<UserTab> pg = new Page<UserTab>();
          //  var list = getDatabase().Fetch<UserTab>("exec proc_getFoucOnPage @0, @1,@2,@3 OUTPUT", page, pageSize, userId, param); witch ms sql server
            var total = new MySqlP

[2017-08-08 03:41] 1TheMuffinMan opened #412 "How to construct the object cb argument"
The Query method has an overload that matches this signature:

`public IEnumerable<TRet> Query<TRet>(Type[] types, object cb, string sql, params object[] args)`

It's unclear how to construct this `object cb` argument. Do you just create a `Func<T1..>` that matches the types in the `types` array and then cast it to object? The documentation is not clear on this.

[2017-08-08 03:43] #412 closed

[2017-08-20 22:40] CarsonHager commented on #147
"...and simply assign null before saving to db."

How do you do this? I'm very new to PetaPoco. Thanks!

[2017-08-21 00:15] pleb commented on #147
@SebastianWojciechowski I think I get it.

SQL Server DateTime is known to not be able to reference the full range of values a dotnet DateTime can. However, SQL Server supports DateTime2, which is able to reference the full range (from memory).

I've personally seen this many times before.

I would suggest this is not a bug with PetaPoco.

Does all this sound correct to you?

[2017-08-24 08:31] jackcaicn commented on #410
I am face same issue, tried below code, not works.

`MySql.Data.MySqlClient.MySqlParameter poid = new MySql.Data.MySqlClient.MySqlParameter("@poid",MySql.Data.MySqlClient.MySqlDbType.Int32);
            poid.Value = tid;
            poid.Direction = System.Data.ParameterDirection.Input;

            MySql.Data.MySqlClient.MySqlParameter preport = new MySql.Data.MySqlClient.MySqlParameter("@preport

[2017-08-24 11:02] pleb commented on #410
Shouldn't this line

    PetaPoco.Sql sql = PetaPoco.Sql.Builder.Append("CALL usp_upreport_get(@0,@1)", poid, preport);
Be

    PetaPoco.Sql sql = PetaPoco.Sql.Builder.Append("CALL usp_upreport_get(@poid,@preport)", poid, preport);

?

[2017-08-26 18:29] LorianColtof opened #413 "Multi-Poco fetch and nested POCO classes"
Calling a multi-poco `Fetch` (or iterating over the result of `Query`) when the POCO-classes are nested classes gives the following exception:
[code]

This is only the case when the POCO-classes have the `private` or `protected` modifier or no modifier at all.
When the POCO-classes are marked as `internal` or `public` it works just fine.

A small demonstrating example:
[code]

[2017-08-30 04:23] jackcaicn opened #414 "multi primary key in mysql, Generated code"
I have tried, can't generated code when have multi primary key in mysql.
`PRIMARY KEY (`ops_id`, `rpt_no`)`

exception
`Sequence contains more than one matching element....`

[2017-08-30 15:44] paul64digital opened #415 "Object reference not set to an instance of an object"
Easily reproduced using:
var dbItems = db.Page<dynamic>(1, 100, "SELECT * FROM tableName", null);

A null value is passed from:
PocoData.cs line 143 - Func<object, object> converter = mapper.GetFromDbConverter((PropertyInfo) null, srcType);
as the param "pi" to:
ConventionMapper.cs line 160 - pi.GetCustomAttributes(typeof(ValueConverterAttribute), true).FirstOrDefault() as ValueConverterAttribute;

[2017-08-30 15:50] paul64digital commented on #415
Whoops... That should have been:
var dbItems = db.Page(1, 100, "SELECT * FROM tableName", new Object[0]);
Also, this issue does now occur in 5.1.228

[2017-08-31 08:54] david-ju opened #416 "SQLite not working"
I can't get petapoco to work with SQLite.
I've added the SQLite NuGet package: https://www.nuget.org/packages/System.Data.SQLite/
I've added the DBProviderFactory in my app.config:
`<system.data>
	<DbProviderFactories>
		<add name="SQLite Data Provider" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
	</DbProvider

[2017-09-05 01:35] kennoy opened #417 "How do I support stored procedures?"
How do I support stored procedures?

[2017-09-06 16:38] leo-ridgewood opened #418 "QueryMultiple does not dispose command or connection if an error occurs"
More precisely the command is not disposed and the connection reference count is not decremented resulting in it not being disposed in the caller's using block.

This issue is fairly evident by code inspection:
https://github.com/CollaboratingPlatypus/PetaPoco/blob/development/PetaPoco/Database.cs#L2303

OpenSharedConnection() and CreateCommand() are called, but the only place CloseSharedConnectio

[2017-09-08 15:43] paul64digital opened #419 "Page<T> on empty table throws exception"
Performing a paged query of an empty table (as is the case with new functionality) throw an exception when trying to count the rows as Database.Page() runs a query to get the total number of rows which returns null and then tries to cast it to a long which fails:
            var result = new Page<T>
            {
                CurrentPage = page,
                ItemsPerPage = itemsPerPage,

[2017-09-09 08:23] pleb commented on #419
Interesting... The Sql count query should never return null. Hmm

Sent from my iPhone

[2017-09-09 17:55] cakasuma commented on #331
working!! thx

[2017-10-12 03:42] jackcaicn commented on #417
run like SQL Statement.
`execute your_sp
call your_sp
`

[2017-10-19 21:30] TheTrigger opened #420 "Errors after install with NuGet"
I just installed PetaPoco for the first time via NuGet, but there are some errors..

Empty Windows console project, net 4.6.1

![image](https://user-images.githubusercontent.com/6072718/31795204-369afb92-b525-11e7-9ff0-020c152eed29.png)

Models\Generated\PetaPoco.Core.ttinclude

[2017-10-20 10:30] TheTrigger commented on #420
Found the problem, there are \r\n at the end of PetaPoco.Core.ttinclude file, after #>

[2017-10-20 12:26] Andrei- opened #421 "Feature request - IgnoreOnInsert and IgnoreOnUpdate properties"
I often have the scenario where I have a table column like CreatedDate or UniqueGuid column which should be handled by the database only. So basically I never want to touch those columns when inserting or updating pocos, but I want the values when I query.
I couldn't solve this nicely with ResultColumn or Ignore attributes as they will not load the column. If there is an elegant solution and I mis

[2017-10-23 15:49] vcatrambone opened #422 "PetaPoco.ttinclude access MDB"
[code]

[2017-10-24 08:03] vcatrambone opened #423 "Access MDB issue on field name duplicate"
![image](https://user-images.githubusercontent.com/16304787/31931159-8d29b6b2-b8a2-11e7-8dbf-ff4d7728e334.png)

[2017-10-24 08:04] vcatrambone commented on #423
It is a good fix?

[2017-10-25 10:07] Paul-Dolphin opened #424 "PetaPoco.Core.ttinclude not working"
An additional space line has appeared again on the end of petapoco.core.ttinclude which stops the T4 generator from working

[2017-11-02 03:04] wang2650 opened #425 "what time support netcore2?"

[2017-11-06 06:20] larsbuch commented on #420
Version 5.1.259 has the same error as the older version. A simple unit test could be to read the file from the end to see characters after "#>" and fail if there are some. A T4 syntax validator would be the best but is also a large task.

[2017-11-07 11:30] kymowang commented on #420
I want to to say something but nothing. It took me over one hour to search the issue. JUST ONE LINE!

[2017-11-08 15:43] swhitf commented on #424
Wow this just saved me a lot of pain. I have the same issue that is resolved when removing the last white space line.

[2017-11-22 14:32] asherber opened #426 "Old documentation is gone"
Since the page with the old documentation (http://www.toptensoftware.com/petapoco/) now redirects to the GitHub repo, could you possibly put up a copy of this page in the Wiki? There is some information there (like query parameters) that doesn't seem to yet be in the new documentation. I know that there are many things which have been changed, but having the old docs (with suitable warning/disclai

[2017-11-22 23:58] pleb commented on #420
Does anyone want to submit a PR with a test to ensure this doesn't happen again?

[2017-11-26 11:57] qxwei opened #427 "can't Execute(List<PetaPoco.Sql>)"
can't Execute(List<PetaPoco.Sql>)
PetaPoco suppoet this ?

[2017-11-26 14:18] picasso566 commented on #427
I'm sorry, but can you phrase the question a little better?

You need to use PetaPoco like the documentation says.

If you have an object like:

public class potato {
  string name {get; set;}
  int age {get;set;}
}

You can use PetaPoco like this:
int potatoType = 2;
var potatoes = List<potato>("FROM potato WHERE type = @0", potatoType );

[2017-11-26 16:04] asherber opened #428 "Move Database internal helper methods to DatabaseProvider"
I'm creating a `DatabaseProvider` for an oddball legacy system I use.  This database engine does not support any of the methods for obtaining the most recent identity value on inserts. I'd like to override `ExecuteInsert` by doing what's in `SQLiteDatabaseProvider`:
[code]
But `ExecuteNonQueryHelper()` and `ExecuteScalarHelper()` are `internal` methods on `Database`.

Since these two methods are o

[2017-11-26 16:16] asherber commented on #428
I should add that this is an issue because I prefer to use `PetaPoco.Compiled`. Obviously if I use one of the packages that includes the source code, I have access to the `internal` methods on `Database`. But I still think that putting these helpers on `DatabaseProvider` may be the better design.

[2017-11-27 02:27] qxwei commented on #427
I see demo below,but I can make it pass,the demo is wrong?have the function Execute(List<PetaPoco.Sql>) :
`IList<Sql> sqls = new List<Sql>();

   foreach(string name in names)
   {
     sqls.Add(Sql.Builder.Append(" insert  into student (name,address,age)values (@name,@address,@age)", name,address,age))
   }

   int affectCount = Database.Execute(sqls);  `

[2017-11-29 05:47] #428 closed

[2017-11-29 05:53] pleb commented on #427
Yes, that's right. It can't. You would loop and execute each statement individually. There are likely better ways to do it, however, that's better asked on SO or via Google/Bing

That doesn't look right. This unit test shows you how.

        [Fact]
        public void Append_GivenNameArguments_ShouldBeValid()
        {
            _sql.Append("arg @name @password", new { name = "n", password = "p

[2017-11-29 05:53] #427 closed

[2017-11-29 05:59] pleb commented on #425
Unknown. Netcore doesn't support T4 templates. A significant time would be investment required.

[2017-11-29 05:59] #425 closed

[2017-11-29 05:59] pleb commented on #424
Fixed. Sorry, I never found a way to unit/integration test the templates.

[2017-11-29 05:59] #424 closed

[2017-11-29 06:00] pleb commented on #423
Not really a PetaPoco issue. You should avoid this yourself.

[2017-11-29 06:00] #423 closed

[2017-11-29 06:01] #422 closed

[2017-11-29 06:01] pleb commented on #420
Fixed. Sorry, I've never found a way to unit/integration test the templates

[2017-11-29 06:01] #420 closed

[2017-11-29 18:25] asherber opened #430 "Query<dynamic> broken in PetaPoco.Core.Compiled 5.1.280"
The following line of code works in NuGet version 5.1.259 but throws an exception in 5.1.280:
[code]
Stack trace is:
[code]

[2017-11-29 18:27] asherber commented on #430
The stack trace I posted happens to use `Fetch()` with a `DatabaseProvider` that I'm writing, but the same issue exists with `Query()` and the SQLite provider.

[2017-11-29 21:10] asherber commented on #416
I'm using PetaPoco with `System.Data.SQLite`, no problems.

It looks like the T4 templates only work with certain providers, and SQLite is not one of them. I wrote my model classes by hand and create the `Database` object myself.

[2017-11-29 21:13] asherber commented on #430
Possibly related to #415

[2017-12-01 03:15] asherber commented on #421
The docs are a little misleading wrt `ResultColumn`. They say:

The important thing that's missing here is that a `ResultColumn` is **not included in auto-generated SQL**. So if you do `var records = db.Fetch<MyClass>("")`, result columns will not be populated. But if you do `var records = db.Fetch<MyClass>("select * from myclass")`, result columns will be populated.

NPoco adds a third attribute,

[2017-12-01 12:20] Andrei- commented on #421
Coming from Petapoco, I didn't notice the new ComputedColumn feature. When researching npoco, I read that it adds a bunch of extra features, but could never find a detailed list of exactly what new features npoco adds over Petapoco.
ComputedColumn seems to be the answer to my problem, so thanks a lot, I really appreciate you took the time to answer here.

[2017-12-13 01:24] pleb commented on #430
Released to master today

[2017-12-13 01:24] #430 closed

[2018-01-06 20:08] soeleman commented on #346
On .NET Standard 2.0 project, we could enable support for .NETCoreApp 2.0 and .NETFramework.
The project it self on VS2017(begin VS2017.3) can have multiple targets.

The issue is on .NETCoreApp we do not have System.Configuration.ConfigurationManager, not all drivers database ready and cross-platform on some driver. Both issue will need to rethinking the we way this library configure.

Anyway, fo

[2018-01-06 20:16] soeleman commented on #409
This should we resolve by .NET Standard version of this library. [.NET Standard for Xamarin](https://blog.xamarin.com/net-standard-library-support-for-xamarin/). #346

[2018-01-08 00:41] pleb commented on #346
@soeleman a PR would be great!

[2018-01-08 01:26] soeleman commented on #346
@pleb done.
Seem the CI a bit confuse with dual solutions. thx

[2018-01-08 02:14] pleb commented on #346
@soeleman, yeah I dare say the CI scripts will need updating. I've been meaning to switch over to Cake

[2018-01-08 02:20] soeleman commented on #346
@pleb what do you suggest or direction on this matter?

[2018-01-08 02:27] pleb commented on #346
@soeleman hmmmmm...

Do we need two solution files? Could we roll with one? I guess, at a minimum, we only need to produce a .net 4.6, .net 4.7, net std 2?

[2018-01-08 02:32] soeleman commented on #346
@pleb the idea is VS2015 still can open the solution with current setting. I will check if the VS2017 stil can open by VS2015.

[2018-01-08 03:04] pleb commented on #346
@soeleman don't worry about 2015. Not a biggie if the only vs 2017 is supported

[2018-01-08 04:56] soeleman commented on #346
@pleb i think the PR will took sometime to pass since we must tweak the appveyor.yml for vs2017.

[2018-01-08 05:11] pleb commented on #346
@soeleman. yeah I think the `/tv:14.0` will need updating in the appveyor script. I'll have a play around with it soon

[2018-01-08 05:26] soeleman commented on #346
@pleb looking forward on the script and thanks for support.

[2018-01-09 07:54] adithyasai opened #433 "Models folder not getting autogenerated on nuget install"
I have made a nuget package manager install. It got installed properly but it did not create me a Models folder which worked fine for me in my old project 2 months back. I did not understand what happened suddenly.

[2018-02-06 11:04] kymowang opened #434 "Does petapoco support MySQL json type?"
I have seen petapoco supporting postgresql json type, but does it  support **MySQL** json type?

[2018-02-15 20:45] diegodfsd opened #435 "Pagination with distinct"
I'm using the latest version 5.1.283 and when I trying to execute a query like that
`SELECT DISTINCT Id, Name, Email
  FROM [schema].[table]`
the things not happen like expected because PetaPoco engine generate a query like that:
`SELECT COUNT(DISTINCT Id, Name, Email)
   FROM [schema].[table]`

I have already a solution to this problem and I'm using PetaPoco with this fix at this moment.

[2018-02-19 12:56] hpposch commented on #387
I faced the same issue.
Under C# I used DateTime.Now which throws an Exception when i tried to insert this.

So i build a Helper Class for that:
`
public static class PetaPocoDateTime
    {
        public static DateTime Now
        {
            get
            {
                return new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, DateTime.Now.Hour, DateTime.Now.Minute, Da

[2018-02-19 15:23] yarecky1 commented on #387
@hpposch Interesting approach. However I suppose we shouldn't create helper classes or any other workarounds to get absolutely basic functions or behaviours. That's why I switched from PetaPoco to another engine where everything works as expected.

[2018-02-19 15:55] hpposch commented on #387
I understand what you mean.
Always keep your code clean :)

May i ask you what engine you use and what target Database?

[2018-02-19 15:58] hpposch commented on #387
BTW: Another option would be to implement an extionson method for DateTime in PetaPoco Source so you can use it out of the Box when you include PetaPoco.
And then inside the code it can be converted to the correct format.

But thats stuff for some PetaPoco devs :)

Maybe i'll do it if there is time

[2018-02-19 16:00] yarecky1 commented on #387
@hpposch I use [Linq2Db](https://github.com/linq2db/linq2db) and both MS Access and MS SQL at work.

[2018-02-20 03:31] pleb commented on #387
There are integration tests for Access. Can somebody add a test to show this is broken?

[2018-03-09 03:57] dcworldwide opened #436 ".net core compiler can't find PetaPoco namespace."
I've created a fresh asp.net mvc project (framework netcoreapp2.0).

Added petapoco.

dotnet add package PetaPoco.Core --version 5.1.283
dotnet restore

Tried importing using either:

using PetaPoco; or;
using PetaPoco.core;

But dotnet build fails.

error CS0246: The type or namespace name 'PetaPoco' could not be found (are you missing a using directive or an assembly reference?)

What am I doing

[2018-03-09 04:48] pleb commented on #436
PetaPoco.Core came before dotnet core. The two are not related.

There is no official dotnet core version of PetaPoco.

There is, however, PR #432. But, I haven't had time to look at it yet. I'm fairly busy untill mid-year at this stage.

[2018-03-11 16:34] sgf opened #437 "Support Call StoredProcedure with Anonymous Paramters."
support like this:
[code]
if design like this is better:
[code]
..

[2018-03-20 07:52] tkouba opened #438 "Default mappers should ignore read-only or unsupported property"
Read-only properties should be ignored or handled only in INSERT/UPDATE. But INSERT/UPDATE handling is not supported at all.

Mappers should also check if property type can be handled, eg. implements IConvertible interface, is primitive or value type.

ConventionMapper can contain this code:
[code]

Currently read-only property which is not explicitly marked as ignored throw missing column excepti

[2018-03-22 00:48] millimoose opened #439 "Missing constructor Database(IDbConnnection connection, IMapper mapper)"
I want to use PetaPoco in a largeish existing codebase that does wrangles its own persistent connection to Postgres. Our app connects to a database server with one main schema per tenant - which schema this is may change while the app is still running. Some of the model types I intend to create may be found in more than one schema, so I don't want to just hard-code the schema name in the table nam

[2018-03-22 01:18] pleb commented on #439
Sorry, I forgot the tag the commit. Please see a93f99dd90e3478c619f9d2042834547cfeaf309

You can try it out in the dev nuget packages

[2018-03-22 01:48] millimoose commented on #439
Thanks! I'm using the file include version of the library and just added literally the same code for now to see if it would work, but it's good that I don't have to worry about an update wiping it.

[2018-03-22 06:05] #436 closed

[2018-03-22 15:52] enemyofthedawn opened #440 "ResultColumn vs Ignore"
They seem similar, what should I use when?

[2018-03-25 18:56] tkouba commented on #440
Result column is SELECT only, is ignored on INSERT/UPDATE. Ignored column is ignored on all SQL commands.

[2018-03-27 07:37] #440 closed

[2018-03-29 08:37] enemyofthedawn opened #441 "Any way to do these queries in 1 call"
[code]

I'm currently retrieving what I want in 2 queries, is there a way to make 1 query from it using peta poco/NPoco?

[code]

[2018-03-29 09:17] #441 closed

[2018-04-05 22:50] SDmorgan opened #443 "Code cleanup"
Some code cleanup for PetaPoco.cs

Lines 7960 and 7961
int paramIndex;
                if (int.TryParse(param, out paramIndex))

**Change to**
              if (int.TryParse(param, out int paramIndex))

Lines 827, 828
string sqlCount, sqlPage;
            BuildPageQueries<T>((page - 1)*itemsPerPage, itemsPerPage, sql, ref args, out sqlCount, out sqlPage);

**Change to**
string sqlCount, sqlPage;

[2018-04-05 23:05] SDmorgan opened #444 "Code streamlining"
Lines 6037

var pc = new PocoColumn();
                pc.PropertyInfo = pi;
                pc.ColumnName = ci.ColumnName;
                pc.ResultColumn = ci.ResultColumn;
                pc.ForceToUtc = ci.ForceToUtc;
                pc.InsertTemplate = ci.InsertTemplate;
                pc.UpdateTemplate = ci.UpdateTemplate;

Change to
var pc = new PocoColumn
                {

[2018-04-05 23:07] SDmorgan opened #445 "More code streamlining"
Line 6060
var pd = new PocoData();
                pd.TableInfo = new TableInfo();
                pd.Columns = new Dictionary<string, PocoColumn>(StringComparer.OrdinalIgnoreCase);

Change to
var pd = new PocoData
                {
                    TableInfo = new TableInfo(),
                    Columns = new Dictionary<string, PocoColumn>(StringComparer.OrdinalIgnoreCase)
                };

[2018-04-05 23:59] pleb commented on #443
HI SDmorgan. Please submit PRs. This is not how you suggest changes.

[2018-04-05 23:59] #443 closed

[2018-04-05 23:59] pleb commented on #444
HI SDmorgan. Please submit PRs. This is not how you suggest changes.

[2018-04-05 23:59] #444 closed

[2018-04-05 23:59] pleb commented on #445
HI SDmorgan. Please submit PRs. This is not how you suggest changes.

[2018-04-05 23:59] #445 closed

[2018-04-11 08:08] kamcioju opened #450 "Content file not included when reference via PackageReference instead of package.config"
When I install PetaPoco as PackageReference no Models folder is created.

Related:
https://github.com/NuGet/Home/issues/5803

[2018-05-04 02:49] 6pac commented on #368
Any updates on this? I've just set up a new PetaPoco project in Net Core 2, and it was pretty easy to get it working. Seems like a lot of the stuff that was prompting a rework in Core 1 has been re-added in 2.

In PetaPoco.cs (approx line 205) and PetaPoco.Core.ttinclude (approx line 349), replace:

    _factory = DbProviderFactories.GetFactory(_providerName);

with:

    _factory = System.Data.Sq

[2018-05-04 02:52] 6pac commented on #405
see comment on #368

[2018-05-04 11:09] hpposch opened #454 "Can not use Transaction with MS Access DB"
I have a MS Access database and i use PetaPoco with the OleDb to read and write data to that database.
Read-Write works perfectly, but when i try to use a transaction to write nested data (Header entry with multiple child entries) i get the following error:
The OleDB transaction has been completed, it is not longer usable

This happens always when i call Complete or CompleteTransaction.
I tried al

[2018-05-04 11:44] Guy--L commented on #368
I have T4 working in vs2017 modified for NPoco two weeks ago.  I notice the same error on the first save.  But usually after the second save, it generates my pocos each time.  Scripty is a tool I was considering--to replace T4 files with csx script.  But now that's moot.

[2018-05-04 11:44] pleb commented on #454
Create a simple code example and confirm if it works or not. If it works, look at how it could be going wrong with your codebase. In the case you can replicate a bug, post the code here ;)

Sent from my iPhone

[2018-05-04 12:15] 6pac commented on #368
Yeah I don't think Scripty can do the database access in the same way, or at least not without a lot of gymnastics. The T4 templates are surprisingly flexible.

[2018-05-10 17:21] diegosanfelix opened #455 "Table named User breaks SQL FROM Statements"
Dear Dev Team,

If you have a table name User, it will break all Selects, Updates and Deletes con ExecuteCommand() or ExecuteScalar().

It should include table name between brackets [].

[2018-05-11 07:46] pleb commented on #455
What type of database are you using? The provider should be escaping

[2018-05-11 15:28] groogiam opened #456 "public Task<int> UpdateAsync(object poco, IEnumerable<string> columns) does not work with POCO that has string primary key"
I reported this issue on the AsyncPoco project https://github.com/tmenier/AsyncPoco/issues/47
AsyncPoco was forked from this project so I suspect that PetaPoco may have the same issue.

[2018-05-14 17:26] diegosanfelix commented on #455
Hi,

I was using MS-SQL Server LocalDb. (Mdf).

I moved to MySQL and it does not happen anymore.

Thx,

Diego.

On Fri, May 11, 2018 at 4:46 AM, Wade Baglin <notifications@github.com>
wrote:

--
Att / Kr / Cdlt /Slds,

Diego San Felix
+55 11 94131-2207

[2018-05-26 12:56] asherber opened #458 "Missing LINQish overloads"
https://github.com/CollaboratingPlatypus/PetaPoco/wiki/Querying-LINQ-Style indicates that the LINQish methods have overloads that can take just the primary key of the POCO, but those overloads don't seem to exist in the code. Is it planned to add those overloads? Should the docs be updated in the meantime to remove them?

[2018-05-27 05:42] pleb commented on #458
I see find them. Look at the [BaseQueryLinqTest.cs](https://github.com/CollaboratingPlatypus/PetaPoco/blob/development/PetaPoco.Tests.Integration/Databases/BaseQueryLinqTests.cs) class

[2018-05-27 13:09] asherber commented on #458
Sorry, user error.

[2018-05-27 13:09] #458 closed

[2018-05-27 21:34] pleb commented on #458
No worries. Happens to the best of us ;)

Sent from my iPhone

[2018-06-01 01:48] pleb opened #460 "Update PetaPoco to net standard"
It's time to update PetaPoco to net standard, and purpose of this ticket is to track the work.

_This is a work in progress_

A few questions I think we need to answer

- What is the minimum [net standard version](https://docs.microsoft.com/en-us/dotnet/standard/net-standard) we can target?
- Do we still need to supply 4.0, 4,5, 4.6 assemblies (Possibly add 4.7)?
  - If so, can we drop 4.0 and pos

[2018-06-01 02:12] asherber commented on #460
I'm not entirely sure what the purpose is of assemblies that target different 4.x versions, since there don't appear to be any code differences. In the abstract, I would suggest targeting just 4.0 until such time as you add features that require a higher version. But since you have users who already have the other assemblies installed, you probably have to keep them around. Luckily, this is easy i

[2018-06-01 02:13] asherber commented on #460
As a sidenote, there should be some discussion around how best to handle connection strings and other things that assume an app.config/web.config file. It's probably worth looking at how NPoco handles this.

[2018-06-01 02:14] asherber commented on #460
Breaking change? I don't think it would break anything as long as the NuGet package is multi-targeted.

[2018-06-01 02:18] pleb commented on #460
The reason for the assemblies targetting each .net version is that I found some people were confused and thought their target version is not supported, or PetaPoco is out of date.

Re the nuget packages, a fair few people think the Core in PetaPoco.Core and PetaPoco.Core.Complile means dotnet core. Maybe this won't be an issue if we can produce a .net standard assembly.

[2018-06-01 02:18] asherber opened #461 "Namespaces"
I've been working lately on some code that I would like to be compatible both with PetaPoco.Core and PetaPoco.Core.Compiled. One big problem I've run into is that the namespaces are different -- in the compiled assembly the namespaces are nicely organized, but in the single source file everything is in the PetaPoco namespace. It would be nice if both NuGet packages behaved the same way, even thoug

[2018-06-01 03:33] asherber commented on #460
Looks like for .NET Standard, NPoco gets rid of any `Database` constructor that takes a provider name (because it uses `DbProviderFactories` to look up the factory, and that class is not available in Standard) and any constructor that takes a connection string name (because we can't count on app.config/web.config).

If we take the same approach here, I think we would just need to omit the construc